---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800";

@import "bourbon/bourbon";
@import "base";
@import "media_queries";
@import "reset";
@import "grid";
@import "icons";
@import "mixins";

// Commons
@import "global/skeleton";
@import "global/skin";

// Pages
@import "pages/skeleton";
@import "pages/skin";

// Home
@import "home/skeleton";
@import "home/skin";

// Stories Page
@import "stories/skeleton";
@import "stories/skin";

// Apps
@import "apps/skeleton";
@import "apps/skin";

// Tools Page
@import "tools/skeleton";
@import "tools/skin";

// Progress Page
@import "progress/skeleton";
@import "progress/skin";

// Subscribe Section
@import "subscribe/skeleton";
@import "subscribe/skin";

// Search Data Section
@import "search_data/skeleton";
@import "search_data/skin";

// Open Data Poster
@import "poster/skeleton";
@import "poster/skin";

// Slider
@import "slider/skeleton";
@import "slider/skin";

// Post View
@import "post/skeleton";
@import "post/skin";

// Datasets
@import "datasets/skeleton";
@import "datasets/skin";

// Buttons
@import "buttons/skeleton";
@import "buttons/skin";

// Forms
@import "forms/skeleton";
@import "forms/skin";

.tool-link          { padding: 50px 30px; text-align: center; }
.tool-link .btn     { font-size: 18px; text-transform: uppercase; padding: 5px 30px; }
.post-main-inner ul { margin-bottom: 10px; }
.post-main-inner li { font-weight: 100; }