@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);

/*********************************
    GENERAL STYLES
*********************************/
html, body                                  { margin: 0; font-size: 16px; line-height: 1.6em; font-family: "Open Sans"; }
a                                           { cursor: pointer; font-size: 12px; }
a:hover                                     { text-decoration: none; }
a:focus, a:active                           { border: none; outline: 0; }
.container-fluid                            { max-width: 1100px; }
.btn                                        { padding: 10px; border: none; border-radius: 0; }
.btn-default                                { background-color: #9b9b9b; color: #fff; font-size: 12px; font-weight: 600; text-transform: uppercase; }

/*********************************
    FONTS STYLES
*********************************/
h3                                          { font-size: 26px; line-height: 1.6em; font-weight: 300; }

/*********************************
    BANNER SECTION STYLES
*********************************/
#banner                                     { background-color: #0c9; padding: 30px 0; text-align: center; }
#banner p                                   { font-weight: 300; color: #fff; }
#banner a                                   { font-size: 12px; font-weight: bold; text-transform: uppercase; color: #009c7d; }

/*********************************
    HIGHLIGHTS SECTION STYLES
*********************************/
#highlights                                 { padding: 50px 0; background: url(../img/bg-banner.png) no-repeat; background-size: cover; position: relative; }
#highlights .overlay                        { width: 100%; height: 100%; position: absolute; left: 0; top: 0; background-color: rgba(0,0,0,0.6); }
#highlights h3                              { color: #fff; }
#highlights h5                              { color: #fff; text-transform: uppercase; font-size: 12px; font-weight: 300; margin-bottom: 30px; padding-bottom: 20px; border-bottom: 1px solid #fff; }
#highlights p                               { font-size: 12px; font-weight: 200; color: #fff; line-height: 22px; }
#highlights a                               { font-weight: 300; color: #fff; }
#highlights form                            { width: 100%; margin-bottom: 10px; overflow: hidden; }
#highlights .form-group                     { width: 80%; float: left; }
#highlights input                           { width: 100%; height: 37.15px; background-color: rgba(0,0,0,0.3); font-style: italic; font-size: 12px; font-weight: 300; color: #fff; border-radius: 0; border: none; }
#highlights button                          { width: 20%; float: left; }
#highlights .nav-tabs                       { border: none; margin-bottom: 10px; }
#highlights .nav-tabs > li                  { margin-right: 15px; }
#highlights .nav-tabs > li:last-child       { margin-right: 0; }
#highlights .nav-tabs > li > a              { padding: 10px 0; background-color: transparent; color: #adabab; border: none; border-radius: 0; font-size: 12px; font-weight: 300; text-transform: uppercase; }
#highlights .nav-tabs > li.active > a,
#highlights .nav-tabs > li > a:hover        { color: #fff; }
#highlights .tab-content ul                 { padding: 0; list-style: none; }
#highlights .tab-content ul > li            { padding: 7px 10px; background-color: rgba(0,0,0,0.3); }
#highlights .tab-content ul > li > a        { display: block; font-size: 11px; text-transform: uppercase; color: #fff; }
#highlights .tool p                         { margin-bottom: 20px; }
#highlights .tool .btn                      { margin-bottom: 20px; padding: 10px 20px; font-weight: 600; }
#highlights .tool .btn:hover                { color: #333; }
#highlights .tab-content ul > li:nth-child(2)   { background-color: rgba(0,0,0,0.4); }

/*********************************
    CATEGORIES SECTION STYLES
*********************************/
#categories                                 { background-color: #eee; height: auto; padding: 30px 0 27px; }
#categories ul                              { width: 90%; margin: 0 auto; padding: 0; overflow: hidden; list-style: none; }
#categories ul > li                         { display: block; width: 12.5%; height: 73px; float: left; text-align: center; }
#categories li > a                          { display: block; width: 100%; height: 20px; padding-top: 50px; font-size: 12px; color: #595959; text-align: center; background-repeat: no-repeat; background-size: 30%; background-position: 50% 0; }
#categories li > a:hover                    { color: #0c9; }
#categories #item-health                    { background-image: url(../img/ic-health.png); }
#categories #item-health:hover              { background-image: url(../img/ic-health-hover.png); }
#categories #item-geography                 { background-image: url(../img/ic-geography.png); }
#categories #item-geography:hover           { background-image: url(../img/ic-geography-hover.png); }
#categories #item-security                  { background-image: url(../img/ic-security.png); }
#categories #item-security:hover            { background-image: url(../img/ic-security-hover.png); }
#categories #item-environment               { background-image: url(../img/ic-environment.png); }
#categories #item-environment:hover         { background-image: url(../img/ic-environment-hover.png); }
#categories #item-education                 { background-image: url(../img/ic-education.png); }
#categories #item-education:hover           { background-image: url(../img/ic-education-hover.png); }
#categories #item-economy                   { background-image: url(../img/ic-economy.png); }
#categories #item-economy:hover             { background-image: url(../img/ic-economy-hover.png); }
#categories #item-culture                   { background-image: url(../img/ic-culture.png); }
#categories #item-culture:hover             { background-image: url(../img/ic-culture-hover.png); }
#categories #item-tourism                   { background-image: url(../img/ic-tourism.png); }
#categories #item-tourism:hover             { background-image: url(../img/ic-tourism-hover.png); }