@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);

/*********************************
    GENERAL STYLES
*********************************/
html, body                                  { margin: 0; font-size: 16px; line-height: 1.6em; font-family: "Open Sans"; }
a                                           { color: #0c9; cursor: pointer; }
p                                           { color: #595959; font-weight: 300; }
img                                         { max-width: 100%; }
a:hover                                     { text-decoration: none; }
a:focus, a:active                           { border: none; outline: 0; }
.container-fluid                            { max-width: 1100px; }
.btn                                        { padding: 10px; border: none; border-radius: 0; }
.btn-default                                { background-color: #9b9b9b; color: #fff; font-size: 12px; font-weight: 600; text-transform: uppercase; }

/*********************************
    FONTS STYLES
*********************************/
h3                                          { font-size: 26px; line-height: 1.6em; font-weight: 300; color: #595959; }
.label                                      { font-size: 12px; font-weight: 700; color: #fff; text-transform: uppercase; border-radius: 0; }
.label[data-format="csv"]                   { background-color: #ffd100; }
.label[data-format="klm"]                   { background-color: #474747; }
a.load-more                                 { text-transform: uppercase; font-size: 12px; font-weight: 300; color: #00d2a9; }
a.load-more:hover                           { font-weight: 600; }

/*********************************
    TABLES STYLES
*********************************/
table                                       { width: 100%; }
table > thead > tr > th                     { font-size: 11px; font-weight: 700; color: #595959; }
table > thead > tr > th > .glyphicon        { color: #d8d8d8; margin-right: 5px; position: relative; top: 2px; }
table.data                                  { margin-top: -10px; border-spacing: 0 20px; border-collapse: separate; }
table.data > tbody > tr > td                { padding: 10px 15px; background-color: #eee; font-size: 10px; font-weight: 300; color: #595959; }
table.data > tbody > tr > td.ic-dataset     { background-color: #d7d7d7; text-align: center; vertical-align: bottom; }
table.data > tbody > tr > td.ic-dataset img { width: 20px; }

/*********************************
    FONTS STYLES
*********************************/
.nav-tabs                                   { border: none; margin-bottom: 10px; }
.nav-tabs > li                              { margin-right: 20px; }
.nav-tabs > li:last-child                   { margin-right: 0; }
.nav-tabs > li.active > a,
.nav-tabs > li:hover > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover             { border: none; background-color: transparent; color: #00d2a9; }
.nav-tabs > li.active > a                   { color: #00d2a9; }
.nav-tabs > li > a                          { padding: 10px 0; background-color: transparent; font-size: 12px; font-weight: 600; color: #dfdfdf; text-transform: uppercase; border: none; border-radius: 0; }

/*********************************
    ICONS STYLES
*********************************/
.app-icon                                   { display: inline-block; width: 20px; height: 20px; margin-right: 10px; background-repeat: no-repeat; background-size: contain; background-position: 50% 50%; }
.app-icon:last-child                        { margin-right: 0; }
.icon-web                                   { background-image: url(../img/ic-web.png); }
.icon-android                               { background-image: url(../img/ic-android.png); }
.icon-ios                                   { background-image: url(../img/ic-ios.png); }

/*********************************
    BANNER SECTION STYLES
*********************************/
#banner                                     { background-color: #0c9; padding: 30px 0; text-align: center; }
#banner p                                   { font-weight: 300; color: #fff; }
#banner a                                   { font-size: 12px; font-weight: bold; text-transform: uppercase; color: #009c7d; }

/*********************************
    HIGHLIGHTS SECTION STYLES
*********************************/
#highlights                                 { padding: 50px 0; background: url(../img/bg-banner.png) no-repeat; background-size: cover; position: relative; }
#highlights .overlay                        { width: 100%; height: 100%; position: absolute; left: 0; top: 0; background-color: rgba(0,0,0,0.6); }
#highlights h3                              { color: #fff; }
#highlights h5                              { color: #fff; text-transform: uppercase; font-size: 12px; font-weight: 300; margin-bottom: 30px; padding-bottom: 20px; border-bottom: 1px solid #fff; }
#highlights p                               { font-size: 12px; font-weight: 200; color: #fff; line-height: 22px; }
#highlights a                               { font-size: 12px; font-weight: 300; color: #fff; }
#highlights form                            { width: 100%; margin-bottom: 10px; overflow: hidden; }
#highlights .form-group                     { width: 80%; float: left; }
#highlights input                           { width: 100%; height: 37.15px; background-color: rgba(0,0,0,0.3); font-style: italic; font-size: 12px; font-weight: 300; color: #fff; border-radius: 0; border: none; }
#highlights button                          { width: 20%; float: left; }
#highlights .nav-tabs > li > a              { color: #adabab; font-weight: 300; }
#highlights .nav-tabs > li.active > a,
#highlights .nav-tabs > li > a:hover        { color: #fff; }
#highlights .tab-content ul                 { padding: 0; list-style: none; }
#highlights .tab-content ul > li            { padding: 7px 10px; background-color: rgba(0,0,0,0.3); }
#highlights .tab-content ul > li > a        { display: block; font-size: 11px; text-transform: uppercase; color: #fff; }
#highlights .tool p                         { margin-bottom: 20px; }
#highlights .tool .btn                      { margin-bottom: 20px; padding: 10px 20px; font-weight: 600; }
#highlights .tool .btn:hover                { color: #333; }
#highlights .tab-content ul > li:nth-child(2)   { background-color: rgba(0,0,0,0.4); }

/*********************************
    CATEGORIES SECTION STYLES
*********************************/
#categories                                 { background-color: #eee; height: auto; padding: 30px 0 27px; }
#categories ul                              { width: 90%; margin: 0 auto; padding: 0; overflow: hidden; list-style: none; }
#categories ul > li                         { display: block; width: 12.5%; height: 73px; float: left; text-align: center; }
#categories li > a                          { display: block; width: 100%; height: 20px; padding-top: 50px; font-size: 12px; color: #595959; text-align: center; background-repeat: no-repeat; background-size: 30%; background-position: 50% 0; }
#categories li > a:hover                    { color: #0c9; }
#categories #item-health                    { background-image: url(../img/ic-health.png); }
#categories #item-health:hover              { background-image: url(../img/ic-health-hover.png); }
#categories #item-geography                 { background-image: url(../img/ic-geography.png); }
#categories #item-geography:hover           { background-image: url(../img/ic-geography-hover.png); }
#categories #item-security                  { background-image: url(../img/ic-security.png); }
#categories #item-security:hover            { background-image: url(../img/ic-security-hover.png); }
#categories #item-environment               { background-image: url(../img/ic-environment.png); }
#categories #item-environment:hover         { background-image: url(../img/ic-environment-hover.png); }
#categories #item-education                 { background-image: url(../img/ic-education.png); }
#categories #item-education:hover           { background-image: url(../img/ic-education-hover.png); }
#categories #item-economy                   { background-image: url(../img/ic-economy.png); }
#categories #item-economy:hover             { background-image: url(../img/ic-economy-hover.png); }
#categories #item-culture                   { background-image: url(../img/ic-culture.png); }
#categories #item-culture:hover             { background-image: url(../img/ic-culture-hover.png); }
#categories #item-tourism                   { background-image: url(../img/ic-tourism.png); }
#categories #item-tourism:hover             { background-image: url(../img/ic-tourism-hover.png); }

/*********************************
    INFO SECTION STYLES
*********************************/
#info                                       { padding: 100px 0; }
#info .widget                               { text-align: center; }
#info .widget > a                           { font-size: 16px; font-weight: 600; color: #0c9; text-transform: uppercase; }
#info .widget > a:hover                     { font-weight: 700; }
#info .widget > a > span                    { display: block; margin-top: 30px; padding-bottom: 20px; margin-bottom: 20px; border-bottom: 1px solid #d8d8d8; }
#info .widget > a > img                     { width: 60%; }
#info .widget > p                           { margin-bottom: 0; padding: 0 25px; font-size: 14px; font-weight: 300; color: #595959; }

/*********************************
    SLIDER SECTION STYLES
*********************************/
#slider                                     { margin-bottom: 60px; }
.carousel-caption                           { padding: 20px 30px; background-color: #fff; bottom: 50%; left: 25%; right: 25%; color: #303030; text-align: left; text-shadow: none; transform: translateY(50%); }
.carousel-caption h3                        { margin-top: 10px; margin-bottom: 30px; }
.carousel-caption p                         { font-size: 16px; line-height: 28px; font-weight: 300; }
.carousel-caption .breadcrumb               { margin-bottom: 0; padding: 0; background-color: transparent; font-size: 12px; font-weight: 600; color: #ababab; text-transform: uppercase; }
.carousel-caption .breadcrumb > a           { color: #0c9; }
.carousel-indicators                        { bottom: -60px; }
.carousel-indicators li                     { width: 20px; height: 20px; margin: 0; margin-left: 10px; background-color: #d8d8d8; border: none; }
.carousel-indicators li:first-child         { margin-left: 0; }
.carousel-indicators .active                { width: 20px; height: 20px; margin-left: 10px; background-color: #0c9; }
.carousel-indicators .active:first-child    { margin-left: 0; }

/*********************************
    CATEGORY SECTION STYLES
*********************************/
#category-header h1                         { margin-bottom: 20px; margin-left: 10px; font-size: 22px; font-weight: bold; text-transform: uppercase; color: #0c9; }
#category-header p                          { margin-left: 10px; font-size: 14px; }
.header-icon                                { height: 110px; padding: 20px; background-color: #0c9; }
.header-icon img                            { position: relative; top: 50%; transform: translateY(-50%); }

/*********************************
    CATEGORY MAP SECTION STYLES
*********************************/
.category h3                                { margin-bottom: 30px; padding-bottom: 15px; font-size: 12px; font-weight: 600; color: #00d2a9; text-transform: uppercase; border-bottom: 1px solid #d8d8d8; }
#category-map                               { position: relative; }
#map-description                            { width: 440px; height: auto; padding: 20px 30px; background-color: rgba(0,0,0,0.6); position: absolute; bottom: 30px; right: 30px; }
#map-description h3                         { margin-top: 0; margin-bottom: 20px; padding-bottom: 20px; font-size: 12px; font-size: 300; color: #fff; border-bottom: 1px solid #fff; text-transform: uppercase; }
#map-description p                          { margin-bottom: 0; color: #fff; font-weight: 300; }
#map-description strong                     { font-weight: 600; }
#map-description .btn-close                 { font-size: 22px; font-weight: 300; color: #fff; position: absolute; right: 35px; top: 13px; cursor: pointer; }
#category-data                              { margin-bottom: 30px; }

/*********************************
    TOOLS STYLES
*********************************/
.tool-item                                  { margin-bottom: 50px; }
.tool-item .inner                           { background-color: #eee; padding: 15px 20px; }
.tool-item > .inner > h4                    { margin-top: 0; margin-bottom: 10px; font-size: 14px; font-weight: 500; color: #595959; }
.tool-item > .inner > a                     { display: inline-block; margin-right: 10px; }
.tool-item > .inner > a:last-child          { margin-right: 0; }

/*********************************
    TWEETS SECTION STYLES
*********************************/
#tweets                                     { padding-bottom: 40px; }
#tweets h3                                  { margin-bottom: 40px; text-align: center; }
#tweets .load-more                          { margin-top: 30px; text-align: center; }
#tweets .load-more > a                      { font-size: 14px; font-weight: 300; color: #595959; }
#tweets .tweet .inner                       { padding: 20px; background-color: #f6f6f6; }
#tweets .tweet p                            { margin-bottom: 0; font-size: 12px; color: #595959; }
#tweets .tweet p > a                        { color: #0c9; }
#tweets .tweet .small                       { font-size: 10px; font-weight: 600; }
#tweets .tweet .author                      { margin-top: 5px; overflow: hidden; }
#tweets .tweet .author > .avatar            { width: 15%; margin-right: 10px; }
#tweets .tweet .author p                    { margin-bottom: 0; line-height: 1.3em; }
#tweets .tweet .author a                    { color: #0c9; }

/*********************************
    SUBSCRIBE SECTION STYLES
*********************************/
#subscribe                                  { padding: 30px 0; background-color: #eee; }
#subscribe p                                { margin-bottom: 0; line-height: 37.15px; }
#subscribe .form                            { overflow: hidden; }
#subscribe .form > .form-group              { width: 80%; margin-bottom: 0; float: left; }
#subscribe .form > .form-group > input      { height: 37.15px; font-size: 14px; font-weight: 300; color: #ababab; border-radius: 0; border: none; }
#subscribe .form > button                   { float: left; width: 20%; }