.row.admin-controls
    div.col-md-8
        h3( ng-if="$state.is( 'categories.list' )" ) Categorías
        h3( ng-if="$state.is( 'categories.create' )" ) Crear Categoría
        h3( ng-if="$state.is( 'categories.edit' )" ) Editar Categoría
    div.col-md-4.view-controls
        a.btn.btn-success.pull-right( ui-sref="categories.create" ng-if="$state.is( 'categories.list' )" ) Crear Categoría
        button.btn.btn-success.pull-right( ng-if="$state.is( 'categories.create' )" ng-click="save()" ) Guardar Categoría
        button.btn.btn-success.pull-right( ng-if="$state.is( 'categories.edit' )" ng-click="update()" ) Actualizar Categoría
        button.btn.btn-danger.pull-right( ng-click="remove()" ng-if="$state.is( 'categories.edit' )" ) Eliminar
        a.btn.btn-default.pull-right( ui-sref="categories.list" ng-if="$state.is( 'categories.create' ) || $state.is( 'categories.edit' )" ) Atras
div( ui-view="categories-main" )