section#category-header( ui-view="category-header" )
section#category-data.section-data( ui-view="category-data" )
section#category-blog( ui-view="category-blog" data-section="blog" )
section#category-tools( ui-view="category-tools" data-section="herramientas" )
section#category-extras( ui-view="category-extras" )