.breadcrumb-container
    .container-fluid
        .row
            .col-md-12
                breadcrumb
.category-header( style="background-image: url('{{ category.cover_photo.path }}')" )
    .overlay
        .container-fluid
            .row
                .col-md-12
                    .title
                        img( src="img/ic-{{ category.slug }}.png" alt="{{ category.name }}" )
                        h1 {{ category.name }}
                        p {{ category.description }}
                    .row.category-info
                        .col-md-4( ng-repeat="extra in category.extras" )
                            h5( ng-if="extra.link" )
                                a( href="{{ extra.link }}" alt="{{ extra.title }}" target="_blank" ) {{ extra.title }}
                            h5( ng-if="!extra.link" ) {{ extra.title }}
                            h4( ng-if="extra.link" )
                                a( href="{{ extra.link }}" alt="{{ extra.title }}" target="_blank" ) {{ extra.info }}
                            h4( ng-if="!extra.link" ) {{ extra.info }}