.row
    .col-md-12
        div.row.table-header
            div.col-md-3.col-md-offset-9
                form.search-form
                    input.form-control( type="text" placeholder="Buscar" )
                    i.glyphicon.glyphicon-search
        table.table.table-striped
            thead
                tr
                    th Nombre
                    th( width="30%" ) Sección
                    th( width="30%" ) Tipo
            tbody
                tr( ng-repeat="category in categories" )
                    td 
                        a( ui-sref="categories.edit({ id : category._id })" alt="{{ category.name }}" ) {{ category.name }}
                    td {{ category.section.name }}
                    td
                        span( ng-if="category.type == 'SECTION'" ) Sección
                        span( ng-if="category.type == 'CATEGORY'" ) Categoría
                        span( ng-if="category.type == 'TAG'" ) Tag