.row.admin-controls
    div.col-md-8
        h3( ng-if="$state.is( 'datasets.list' )" ) Datasets
        h3( ng-if="$state.is( 'datasets.create' )" ) Crear Dataset
    div.col-md-4.view-controls
        a.btn.btn-success.pull-right( ui-sref="datasets.create" ng-if="$state.is( 'datasets.list' )" ) Crear Dataset
        button.btn.btn-success.pull-right( ng-if="$state.is( 'datasets.create' )" ng-click="save()" ) Guardar Dataset
        button.btn.btn-success.pull-right( ng-if="$state.is( 'datasets.edit' )" ng-click="update()" ) Actualizar Dataset
        button.btn.btn-danger.pull-right( ng-click="remove()" ng-if="$state.is( 'datasets.edit' )" ) Eliminar
        a.btn.btn-default.pull-right( ui-sref="datasets.list" ng-if="$state.is( 'datasets.create' ) || $state.is( 'datasets.edit' )" ) Atras
div( ui-view="datasets-main" )