---
layout: default
title: Impacto
---

<header class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 col-lg-offset-8 col-md-offset-8 col-sm-offset-6">
            <ul class="nav nav-tabs">
                <li role="presentation" class="active"><a href="#">Todos</a></li>
                <li role="presentation"><a href="#">Historias</a></li>
                <li role="presentation"><a href="#">Avances</a></li>
            </ul>
        </div>
    </div>
</header>
<section id="section-title">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                {% assign avances = site.posts | where: 'sub_section', 'avances' | where: 'published', true %}
                {% assign historias = site.posts | where: 'sub_section', 'historias' | where: 'published', true %}
                <h1>Impacto</h1>
                <p>{{ historias.size }} Historias</p>
                <p>{{ avances.size }} Avances</p>
            </div>
        </div>
    </div>
</section>
<div class="container-fluid">
    <div class="row equal-height">
        <div id="dgm-sidebar" class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            {% include sidebar.html highlight='all' %}
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 posts-container">
            {% assign posts = site.posts | where: 'section', 'impacto' | where: 'published', true | sort: 'date' %}
            {% include posts_container.html posts=posts section='impacto' %}
        </div>
    </div>
</div>