img.ls-background(src="https://datos.gob.mx/public/img/uploads/584ae5a01f7f9ea9d5205312/o0aO9kfB4Gz7PLEv.png")
  
.container-fluid
  .row
    .col-md-12
      h3.ls-header Descubre <strong>Datos Abiertos</strong> de tu gobierno.
      p.ls-counter 25,590 datos de 245 instituciones
  
  .row      
    .col-md-8.col-md-offset-2
      form.search-form.form-inline
        input.form-control( type="text" name="keyword" placeholder="Ej. Centros educativos")
        button.btn.btn-primary.hidden-xs.hidden-sm Buscar
        button.btn.btn-primary.hidden-md.hidden-lg
          i.glyphicon.glyphicon-search
            
.categories.hidden-sm.hidden-xs
  ul.categories-list
    li
      a( alt="ejemplo" )
        img( src="https://datos.gob.mx/img/ic-cultura-y-turismo.svg" alt="ejemplo" )
        span ejemplo
