.btn {
  box-shadow: inset 0 -3px 0 rgba(0,0,0,.25);
  font-size: 14px;
  color: $white-color;
  background: $gray-color;
  font-weight: 600;
  line-height: 40px;

  &-red {
    background: $education-color;
  }
}

.btn-green {
  background-color: $base-color;
  color: $text-color;

  &:hover {
    color: $white-color;
  }
}