---
layout: default
body_class: stories
title: Medio Ambiente · Historias
permalink: /historias/medio-ambiente/

active: medio_ambiente
stories_category: true
order: 3
category_info:
  name: medio_ambiente
  title: Medio Ambiente
---
{% include page-title.html title=page.category_info.title %}  

<div class="stories-content">
  {% include stories-categories.html %}  
  <div class="posts-list">
    {% assign stories = site.posts | where:'section', 'historias' | where: 'category', 'medio_ambiente' %}
    {% for post in stories %}
      {% include story-post.html post=post %}
    {% endfor %}
  </div>
</div>

{% include subscribe.html %}