.DS_Store
.tmp
npm-debug.log
node_modules/
public/bower_components/
public/css/style.css
public/css/vendor.css
public/tmp
public/img/uploads
public/built
package-lock.json
# Configuration files
config/app.js
config/db.js
