---
layout: default
title: datos.gob.mx
---

{% assign all_stories = site.posts | where:'section', 'historias' | where: 'published', true %}

<section class="slider-wrapper">
  <div class="slider">
    {% for post in all_stories | where: 'featured', true | limi: 4 %}
      <article class="slide" style="background-image: url('{{ site.url | append: site.baseurl }}/assets/images/{{ post.cover_photo }}');">
        <div class="main-container">
          <div class="cols-12">
            <div class="col col-6">
              <div class="col-inner">
                <div class="slide-card-box {{ post.category }}">
                  <a tabindex="-1" href="{{ post.url | prepend: site.baseurl }}">
                    <span class="complement-tagline">Datos abiertos para:</span>
                    <h3 class="post-link">{{ post.tagline }}</h3>
                    <span class="post-read-more" aria-hidden="true">Leer Más</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </article>
    {% endfor %}
  </div>
  <div class="slider-pager">
    <div class="main-container">
      <div class="cols-12">
        <div class="col col-12">
          <div class="col-inner">
            <div class="slider-pager-buttons">
              <div class="slider-button prev"></div>
              <div class="slider-button next"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="main-features">
  <div class="main-container">
    <div class="cols-12">
      <div class="col col-4">
        <div class="col-inner">
          <div class="feature">
            <img src="/assets/svg/icon-stories.svg" alt="">
            <h4 class="title">CONOCE</h4>
            <a class="btn btn-green" href="{{ 'historias' | prepend: site.baseurl }}" title="Ir a Historias" aria-label="Ir a Historias">Ir a Historias</a>
          </div>
        </div>
      </div>
      <div class="col col-4">
        <div class="col-inner">
          <div class="feature">
            <img src="/assets/svg/icon-explore.svg" alt="">
            <h4 class="title">EXPLORA</h4>
            <a class="btn btn-green" href="http://catalogo.datos.gob.mx/dataset" title="Ir a los datos" aria-label="Ir a los datos">Ir a los datos</a>
          </div>
        </div>
      </div>
      <div class="col col-4">
        <div class="col-inner">
          <div class="feature">
            <img src="/assets/svg/icon-use.svg" alt="">
            <h4 class="title">UTILIZA</h4>
            <a class="btn btn-green" href="{{ 'herramientas' | prepend: site.baseurl }}" title="Ir a las herramientas" aria-label="Ir a las herramientas">Ir a las herramientas</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% include search-data.html %}

<section class="hidden latests-datasets">
  <div class="main-container">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <header class="datasets-title">
            <h3>Conjuntos de Datos Recientes y Oportunos</h3>
          </header>
        </div>
      </div>
    </div>
    <div class="cols-12">
      <div class="col col-1"></div>
      <div class="col col-10">
        <div class="col-inner">
          <div class="latests-datasets-list">
            <a href="#" class="dataset-item">
              <div class="item-name">
                <h5>EMPRESAS PRODUCTORAS DE MINERALES METÁLICOS</h5>
              </div>
              <div class="from">
                <img src="http://placehold.it/36x36" alt="">
              </div>
            </a>
            <a href="#" class="dataset-item">
              <div class="item-name">
                <h5>EMPRESAS PRODUCTORAS DE MINERALES METÁLICOS</h5>
              </div>
              <div class="from">
                <img src="http://placehold.it/36x36" alt="">
              </div>
            </a>
            <a href="#" class="dataset-item">
              <div class="item-name">
                <h5>EMPRESAS PRODUCTORAS DE MINERALES METÁLICOS</h5>
              </div>
              <div class="from">
                <img src="http://placehold.it/36x36" alt="">
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="stories-content">
  <div class="stories-title">
    <div class="main-container">
      <div class="cols-12">
        <div class="col col-12">
          <div class="col-inner">
            <header>
              <h3 id="home-stories-title">Historias con datos abiertos</h3>
            </header>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="main-container">
    <div class="cols-12 entities-list-cards" role="list" aria-label="Historias con datos abiertos">
      {% for post in all_stories | limit: 6 %}
        <div class="col col-4" role="listitem">
          <div class="col-inner">
            {% include entity-card.html post=post showAuthor=false showCategory=false %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
