img {
  max-width: 100%;
}

p + p,
img + p,
p + img,
img + img {
  margin-top: 25px;
}

p + h1,
p + h2,
p + h3,
p + h4,
p + h5,
p + h6 {
  margin-top: 35px;
  margin-bottom: 15px;
}

.site-header { 
  .site-header-top {
    padding: 8px 0 7px 0;
    @include clearfix;

    .presidencia-brand {
      float: left;
    }

    .social-links {
      float: right;

      ul li {
        margin-left: 30px;
      }
    }
  }

  .site-header-bottom {
    padding: 12px 0 15px 0;

    .site-brand {
      float: left;
      display: block;
    }

    .site-navigation {
      float: right;

      ul li {
        margin-left: 30px;
      }
    }
  }
}

.site-footer {
  padding: 69px 0 68px 0;
  @include clearfix;

  .open-knowledge {
    margin-top: 6px;
    float: left;

    ul li {
      float: left;
      margin-right: 30px;
    }
  }

  .legal-footer {
    float: right;

    ul li {
      float: left;
      margin-left: 35px;
    }
  }
}