img {
  max-width: 100%;
}

p + h1,
p + h2,
p + h3,
p + h4,
p + h5,
p + h6 {
  margin-top: 35px;
  margin-bottom: 10px;
}

p + p,
img + p,
p + img,
img + img,
p + ul,
img + ul {
  margin-top: 25px;
}

.styled, .post-content ul {
  margin: 20px 0;
  padding-left: 45px;
}

.site-header { 

  .site-header-top {
    padding: 8px 0 7px 0;
    @include clearfix;
  }

  .presidencia-brand {
    float: left;
  }

  .social-links {
    float: right;

    ul li {
      margin-left: 20px;
      float: left;
    }
  }

  .site-brand {
    float: left;
    display: block;
    padding: 14px 0 10px 0;
  }

  .open-data-header-poster {
    margin-left: 15px;
    float: left;
    overflow: hidden;

    .poster-part-1, .poster-part-2 {
      float: left;
      height: 50px;
    }

    .poster-part-2 {
      margin-left: 7px;
      overflow: hidden;
    }
  }

  .nav-burguer {
    width: 20px;
    height: 20px;
    margin: 8px 1px 0 0;
    float: right;
    padding: 5px;
    display: none;

    span {
      position: relative;
      display: block;
      margin-top: 9px;

      &:after, 
      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: -7px;
      }

      &:after{
        top: 7px;
      }

      &,
      &:after, 
      &:before {
        width: 100%;
        height: 3px;
      }
    }
  }

  .site-navigation {
    float: right;
    @include clearfix;

    li {
      float: left;
      
      a {
        padding: 17px 16px 16px 16px;
        display: block;
      }
    }
  }

  @include max-screen(768px) {
    .open-data-header-poster {
      display: none;
    }
  }

  @include max-screen(640px) {
    .nav-burguer {
      display: block;
    }

    .site-navigation {
      display: none;
      clear: both;
      float: none;
      margin: 0 -2.5% 10px -2.5%;

      ul li {
        float: none;

        a {
          padding: 10px;
        }
      }
    }
  }
}

.site-footer {
  padding: 69px 0 68px 0;
  @include clearfix;

  @include max-screen(880px) {
    padding: 30px 0;
  }

  .open-knowledge {
    margin-top: 6px;
    float: left;

    ul li {
      float: left;
      margin-right: 20px;
    }

    @include max-screen(880px) {
      float: none; 

      ul li {
        float: none;
        margin: 0 0 15px 0;
      }
    }
  }

  .legal-footer {
    float: right;

    ul li {
      float: left;
      margin-left: 35px;
    }

    @include max-screen(880px) {
      float: none; 

      ul li {
        float: none;
        margin: 0 0 15px 0;
      }
    }
  }
}

.page-title {
  margin: 40px 0 30px 0;
}

.page-title-icon {
  margin: 50px 0;

  .title-icon {
    padding-top: 8px;
  }
}

.full-page-title {
  padding: 50px 0;
}

.section-nav {
  a {
    display: block;
    padding: 5px 10px;
    margin-bottom: 9px;
  } 
}

#redirect-message,
#error-content {
  padding: 100px 0;
}

.video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  margin: 20px 0;

  iframe, object, embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
  }
}

.hidden {
  display: none;
  visibility: hidden;
}

.skiplink {
  position: absolute;
  top: 0;
  left: -450px;
}

.skiplink:focus, .skiplink:active {
  left: 0;
}

