* {
  font-family: $site-font;
}

h1, h2, h3, h4, h5, h6 {
  color: $black-color;
  font-weight: 600;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 22px;
  line-height: 29px;
}

h4 {
  font-size: 18px;
  line-height: 28px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

a {
  color: $base-color;
  text-decoration: none !important;
  @include transition (all .1s ease-in-out);

  &:hover {
    color: lighten($base-color, 5%);
  }
}

p {
  color: $text-color;
  font-weight: 100;
  @include text-size-medium; 
}

.dgm-site {
  background: #474747;

  body {
    background: #fff;
  }
}

.styled, .post-content ul {
  @extend p;
}

.site-header {
  box-shadow: 0 1px 4px rgba(0, 0, 0, .3);

  .site-header-top {
    background: #eeeeee;
  }

  .social-links {
    ul {
      list-style: none;
    }
  }

  .site-header-bottom {
    background: #474747;
  }

  .open-data-header-poster {
    color: $white-color;

    .poster-part-1, .poster-part-2 {
      font-size: 11px;
      line-height: 50px;
      text-transform: uppercase;
    }

    .poster-part-1 {
      color: shade($white-color, 10%);
    }

    .poster-part-2 {
      ul {
        list-style: none;
        font-weight: 700;
        @include animation(change-header 10s 2s ease-in-out infinite);
      }
    }
  }

  .nav-burguer {
    border: 1px solid lighten(#474747, 10%);
    border-radius: 3px;

    span,
    span:after, 
    span:before {
      background-color: #888;
      transition: all 0.3s;
      backface-visibility: hidden;
      border-radius: 2px;
    }

    &.active {
      span {
        background-color: transparent;

        &:before {
          @include transform(rotate(45deg) translate(5px, 5px));
        }

        &:after {
          @include transform(rotate(-45deg) translate(5px, -5px));
        }
      }
    }
  }

  .site-navigation {
    list-style: none;

    li a {
      color: $white-color;
      font-size: 12px;

      &.active {
        background: lighten(#474747, 5%);
        color: lighten(#474747, 40%)
      }
    }
  }
}

.site-footer {
  background: #474747;

  .open-knowledge ul {
    list-style: none;

    a {
      font-size: 12px;
      color: $white-color;

      &:hover {
        opacity: .5;
      }
    }

    @include max-screen(880px) {
      text-align: center;
    }
  }

  .legal-footer ul {
    list-style: none;

    @include max-screen(880px) {
      margin-top: 30px;
      text-align: center;
    }
  }

  .footer-section {
    @include text-size-small;

    .section-links-list, .open-knowledge-list {
      list-style: none;
    }

    .footer-section-title {
      font-weight: 600;
      color: $white-color;
    }

    a {
      color: shade($white-color, 30%);
      @include transition(color, .15s, ease);

      &:hover {
        color: $base-color;
      }
    }
  }
}

.no-bullets {
  list-style: none;
}

.page-title {
  p {
    @include text-size-large;
  }
}

.page-title-icon {
  .title-icon {
    text-align: center;
  }

  .title {
    h1 {
      font-size: 18px;
      text-transform: uppercase;
      color: $base-color-darker;
    }

    p {
      @include text-size-large;
    }
  }
}

.full-page-title {
  background: #676565;
  text-align: center;

  h1 {
    color: $white-color;
  }
}

.section-nav {
  list-style: none; 

  a {
    font-size: 13px;
    color: $white-color;
    background-color: $gray-color;

    &.active {
      background-color: $base-color;
    }
  }
}

#redirect-message,
#error-content {
  text-align: center;
}

.green-title {
  font-size: 18px;
  text-transform: uppercase;
  color: $base-color; 
}

// Entities Lists
.entities-list-cards {
  
}

.entity-item-card {
  background-color: #EEEEEE; 

  .entity-cover {
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .07);
    @include cover-background;
  }

  .entity-link {
    color: $base-color;
    @include ellipsis(95%);
    @include transition(color, .15s, ease);
    @include text-size-regular;
  }

  .entity-category {
    text-align: center;

    img {
      width: 24px;
    }
  }

  .entity-author {
    font-size: 13px;
    color: $gray-color;
    font-weight: 600;
    @include transition(color, .15s, ease);
  }

  .entity-meta {
    @include transition(color, .15s, ease);
    color: $gray-color;
    font-size: 12px;
    font-weight: 100;
  }
}

a.entity-item-card {
  @include transition(background-color, .15s, ease);

  &:hover {
    background-color: $base-color;

    .entity-author {
      color: $white-color;
    }

    .entity-link {
      color: $white-color;
    }

    .entity-meta {
      color: tint($base-color, 95%);
    }
  }
}