* {
  font-family: $site-font;
}

h1, h2, h3, h4, h5, h6 {
  color: $black-color;
  font-weight: 600;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 22px;
  line-height: 25px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

a {
  color: #0079bc;
  text-decoration: none !important;
}

p {
  color: $text-color;
  font-weight: 100;
  @include text-size-medium; 
}

.site-header {
  .site-header-top {
    background: #eeeeee;

    .social-links {
      ul {
        list-style: none;

        li {
          float: left;
        }
      }
    }
  }

  .site-header-bottom {
    background: #474747;

    .site-navigation {
      ul {
        list-style: none;

        li {
          float: left;
        }
      }

      a {
        color: $white-color;
        font-size: 12px;
      }
    }
  }
}

.site-footer {
  background: #474747;

  .open-knowledge ul {
    list-style: none;
  }

  .legal-footer ul {
    list-style: none;
  }
}

.no-bullets {
  list-style: none;
}

// @include animation(change 7s 1s ease-in-out infinite);
@include keyframes(change) {
  0% {
    margin-top: 0;
  }

  12.5% {
    margin-top: -20px;
  }

  25% {
    margin-top:-40px;
  }

  37.5% {
    margin-top:-60px;
  }

  50% {
    margin-top:-80px;
  }

  62.5% {
    margin-top:-100px;
  }

  75% {
    margin-top:-120px;
  }

  87.5% {
    margin-top:0px;
  }
}
