.row
    .col-md-6.col-md-offset-3
        form( ng-submit="create()" )
            .form-group
                label( for="name" ) Título
                input.form-control( type="text" name="name" placeholder="Titulo de Visualizador" ng-model="visualizer.name" )
            .form-group
                label( for="link" ) Enalace a la visualización
                input.form-control( type="text" name="link" placeholder="http://www.google.com" ng-model="visualizer.link" )
            .form-group
                label( for="status" ) Estatus
                .custom-select
                    select.form-control( name="status" ng-model="visualizer.status" )
                        option( value="" ) Seleccione estatus...
                        option( value="PUBLISHED" ng-if="user.type <= 2" ) Publicado
                        option( value="DRAFT" ) Borrado
    .col-md-6.col-md-offset-3
        .cover-photo-upload( data-config="configCover" data-img="visualizer.cover_photo" file-uploader ng-class="{uploaded: visualizer.cover_photo}" )
