extends layout

block body
    #main( ui-view="application" )

    // bower:js
    script(src='bower_components/jquery/dist/jquery.js')
    script(src='bower_components/angular/angular.js')
    script(src='bower_components/angular-bootstrap/ui-bootstrap-tpls.js')
    script(src='bower_components/angular-cookies/angular-cookies.js')
    script(src='bower_components/angular-i18n/angular-locale_es-mx.js')
    script(src='bower_components/medium-editor/dist/js/medium-editor.js')
    script(src='bower_components/angular-medium-editor/dist/angular-medium-editor.js')
    script(src='bower_components/angular-resource/angular-resource.js')
    script(src='bower_components/angular-sanitize/angular-sanitize.js')
    script(src='bower_components/bootstrap/dist/js/bootstrap.js')
    script(src='bower_components/bootstrap-select/dist/js/bootstrap-select.js')
    script(src='bower_components/FileSaver/FileSaver.js')
    script(src='bower_components/webcomponentsjs/webcomponents-lite.min.js')
    script(src='bower_components/blueimp-file-upload/js/vendor/jquery.ui.widget.js')
    script(src='bower_components/blueimp-file-upload/js/jquery.iframe-transport.js')
    script(src='bower_components/blueimp-file-upload/js/jquery.fileupload.js')
    script(src='bower_components/slug/slug.js')
    script(src='bower_components/ui-router/release/angular-ui-router.js')
    // endbower
    if settings.env == 'production'
        script( data-main='built/main' src='bower_components/requirejs/require.js' )
    else
        script( data-main='js/main' src='bower_components/requirejs/require.js' )
    script.
        var _sf_async_config = { uid: 62850, domain: 'datos.gob.mx', useCanonical: true };
        (function() {
            function loadChartbeat() {
                window._sf_endpt = (new Date()).getTime();
                var e = document.createElement('script');
                e.setAttribute('language', 'javascript');
                e.setAttribute('type', 'text/javascript');
                e.setAttribute('src','//static.chartbeat.com/js/chartbeat.js');
                document.body.appendChild(e);
            };
            var oldonload = window.onload;
            window.onload = ( typeof window.onload != 'function' ) ? loadChartbeat : function() { oldonload(); loadChartbeat(); };
        })();