extends layout

block body
    #main( ui-view="application" )

    // bower:js
    script(async src='bower_components/jquery/dist/jquery.min.js')
    script(async src='bower_components/angular/angular.min.js')
    script(async src='bower_components/angular-bootstrap/ui-bootstrap-tpls.js')
    script(async src='bower_components/angular-cookies/angular-cookies.js')
    script(async src='bower_components/angular-i18n/angular-locale_es-mx.js')
    script(async src='bower_components/medium-editor/dist/js/medium-editor.js')
    script(async src='bower_components/angular-medium-editor/dist/angular-medium-editor.js')
    script(async src='bower_components/angular-resource/angular-resource.js')
    script(async src='bower_components/angular-sanitize/angular-sanitize.js')
    script(async src='bower_components/bootstrap/dist/js/bootstrap.js')
    script(async src='bower_components/bootstrap-select/dist/js/bootstrap-select.js')
    script(async src='bower_components/FileSaver/FileSaver.js')
    script(async src='bower_components/webcomponentsjs/webcomponents-lite.min.js')
    script(async src='bower_components/blueimp-file-upload/js/vendor/jquery.ui.widget.js')
    script(async src='bower_components/blueimp-file-upload/js/jquery.iframe-transport.js')
    script(async src='bower_components/blueimp-file-upload/js/jquery.fileupload.js')
    script(async src='bower_components/slug/slug.js')
    script(async src='bower_components/ui-router/release/angular-ui-router.js')
    script(async src='bower_components/underscore/underscore.js')
    // endbower

    script(src=process.env.CDN_URL  + '../assets/js/jquery-ui-datepicker.min.js')
    
    if settings.env == 'production'
        script(async  data-main='built/main' src='bower_components/requirejs/require.js' )
    else
        script(async  data-main='js/main' src='bower_components/requirejs/require.js' )
    script.
        var _sf_async_config = { uid: 62850, domain: 'datos.gob.mx', useCanonical: true };
