extends layout

block body
    #main( ui-view="application" )

    // bower:js
    script(src='bower_components/jquery/dist/jquery.js')
    script(src='bower_components/angular/angular.js')
    script(src='bower_components/angular-bootstrap/ui-bootstrap-tpls.js')
    script(src='bower_components/angular-cookies/angular-cookies.js')
    script(src='bower_components/medium-editor/dist/js/medium-editor.js')
    script(src='bower_components/angular-medium-editor/dist/angular-medium-editor.js')
    script(src='bower_components/angular-resource/angular-resource.js')
    script(src='bower_components/bootstrap/dist/js/bootstrap.js')
    script(src='bower_components/webcomponentsjs/webcomponents.js')
    script(src='bower_components/blueimp-file-upload/js/vendor/jquery.ui.widget.js')
    script(src='bower_components/blueimp-file-upload/js/jquery.iframe-transport.js')
    script(src='bower_components/blueimp-file-upload/js/jquery.fileupload.js')
    script(src='bower_components/ui-router/release/angular-ui-router.js')
    // endbower
    script( data-main='js/main' src='bower_components/requirejs/require.js' )