doctype html
html
    head
        meta( charset="utf8" )
        title datos.gob.mx

        link( rel="import" href="bower_components/polymer/polymer.html" )
        link( rel="import" href="bower_components/dgm-navbar/dgm-navbar.html" )
        link( rel="import" href="bower_components/dgm-footer/dgm-footer.html" )

        link( rel="stylesheet" href="css/style.css" )
    body
        block body