doctype html
html
    head
        meta( charset="utf8" )
        base( href="/" )
        title datos.gob.mx
        link( rel="shortcut icon" href="img/favicon.ico" )

        link( rel="import" href="bower_components/polymer/polymer.html" )
        link( rel="import" href="bower_components/dgm-navbar/dgm-navbar.html" )
        link( rel="import" href="bower_components/dgm-footer/dgm-footer.html" )

        // bower:css
        link(rel='stylesheet', href='bower_components/medium-editor/dist/css/medium-editor.css')
        link(rel='stylesheet', href='bower_components/medium-editor/dist/css/themes/default.css')
        // endbower

        link( rel="stylesheet" href="css/style.css" )

        if settings.env == 'development'
            script( src="http://localhost:35729/livereload.js?snipver=1" )
    body
        block body