---
layout: page
title: Historias
permalink: /historias/
weight: 1
showInNavbar: true
---

<div class="home">

  <h1 class="page-heading">Historias con datos: Conoce quienes ya usan
    datos abiertos</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      {% if post.categories contains 'historias' %}
        <li>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
        </li>
      {% endif %}
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
