---
layout: default
body_class: stories
title: Otras · Historias
permalink: /historias/otras/

active: otras
stories_category: true
order: 8
category_info:
  name: otras
  title: Otras
---

<section class="stories-content">
  <div class="main-container">
    <div class="cols-12">
      <div class="col col-2">
        <div class="col-inner">
          {% include stories-sidebar.html %}
        </div>
      </div>
      <div class="col col-10">
        <div class="col-inner">
          <div class="entities-list-cards" role="list" aria-label="Otras historias con datos abiertos">
            {% assign stories = site.posts | where:'section', 'historias' | where: 'category', 'otras' %}
            {% for post in stories %}
              {% if forloop.first %}
                <div class="col col-12" role="listitem">
                  <div class="col-inner">
                    {% include entity-card.html post=post size="lg" showAuthor=true showCategory=true %}
                  </div>
                </div>
              {% else %}
                <div class="col col-6" role="listitem">
                  <div class="col-inner">
                    {% include entity-card.html post=post showAuthor=true showCategory=true %}
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>