---
layout: default
body_class: stories
title: Seguridad · Historias
permalink: /historias/seguridad/

active: seguridad
stories_category: true
order: 5
category_info:
  name: seguridad
  title: Seguridad
---

{% include stories-title.html %}

<div class="stories-content">
  {% include stories-categories.html %}  
  <div class="posts-list">
    {% assign stories = site.posts | where:'section', 'historias' | where: 'category', 'seguridad' %}
    {% for post in stories %}
      {% include story-post.html post=post %}
    {% endfor %}
  </div>
</div>

{% include subscribe.html %}