.progress {
  margin: 50px 0;

  .category-title {
    margin-bottom: 30px;
  }
}

.progress-posts-list {
  .progress-post-wrap:last-child .post-date .dot:after {
    height: 30px;
  }
}

.progress-post-wrap {
  overflow: hidden;
  padding-bottom: 40px;

  .post-date {
    padding-left: 25px;
    margin: 0 0 10px 10px;
    position: relative;

    .dot {
      position: absolute;
      left: 0;
      top: 0;
      width: 15px;
      height: 15px;

      &:after {
        content: "";
        left: 7px;
        width: 1px;
        height: 1000px;
        position: absolute;
      }
    }

    span {
      display: block;
    }
  }

  .progress-post {
    display: table;
    @include clearfix;
  }

  .post-excerp {
    width: 70%;
    position: relative;
    display: table-cell;

    h3 {
      margin-bottom: 10px;
    }

    .post-excerp-inner {
      padding: 25px 25px 55px 25px;
    }
  }

  .post-meta {
    position: absolute;
    bottom: 25px;
    left: 25px;
  }

  .post-image {
    width: 30%;
    display: table-cell;
  }

  @include max-screen(450px) {
    .progress-post {
      display: block;
    }

    .post-excerp, .post-image {
      width: 100%;
      display: block;
    }

    .post-image {
      height: 130px;
    }
  }
}