.progress {
  margin: 50px 0;

  .category-title {
    color: $gray-color;
  }
}

.progress-post-wrap {

  .post-date {
    .dot {
      background: $purple-color;
      border: 2px solid $white-color;
      border-radius: 50%;

      &:after {
        background: $gray-light-color;
        z-index: -1;
      }
    }

    span {
      color: $gray-color;
      font-size: 12px;
      font-weight: 600;
      text-transform: uppercase;
    }
  }

  .post-excerp {
    p {
      @include text-size-regular;
    }
  }

  .progress-post {
    background: #f7f7f7;
  }

  .post-meta {
    font-size: 12px;
    color: $gray-color;
  }

  .post-image {
    @include cover-background;
  }
}