<header class="container-fluid">
    <div class="row">
        <div class="col-lg-7 col-md-7 col-sm-5 col-xs-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
            {% include breadcrumb.html %}
        </div>
        <div class="col-lg-3 col-md-3 col-sm-5 col-xs-11">
            <ul class="nav nav-tabs pull-right">
                <li role="presentation" class="{% if include.highlight == 'all' %}active{% endif %}"><a href="/herramientas">Todos</a></li>
                <li role="presentation" class="{% if include.highlight == 'maps' %}active{% endif %}"><a href="/herramientas/mapas">Mapas</a></li>
                <li role="presentation" class="{% if include.highlight == 'apps' %}active{% endif %}"><a href="/herramientas/apps">Apps</a></li>
            </ul>
        </div>
    </div>
</header>
<section id="section-title">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                {% assign herramientas = site.posts | where: 'sub_section', 'herramientas' | where: 'published', true %}
                {% assign apps = site.posts | where: 'sub_section', 'apps' | where: 'published', true %}
                <h1>Herramientas</h1>
                <p>{{ herramientas.size }} Mapas</p>
                <p>{{ apps.size }} Apps</p>
            </div>
        </div>
    </div>
</section>