<section class="post-section comments">
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname    = 'blog-datos-mx';
        var disqus_config       = function () {
            this.language       = "es_MX";
            this.callbacks.onReady.push(function() {
                addAriaHiddenAttrs( $('#disqus_thread iframe') );
            });
        };
        (function() {
            var dsq     = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src     = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
</section>