<footer class="site-footer">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <div class="open-knowledge">
            <ul>
              <li>
                <a href="http://datos.gob.mx/libreusomx" title="Libre Uso MX">
                  <i class="i libre-uso-white"></i>
                </a>
              </li>
              <li>
                <a href="http://opendefinition.org/" target="_blank">
                  <img alt="This material is Open Knowledge" src="http://assets.okfn.org/images/ok_buttons/ok_80x15_blue.png" style="margin-top: 5px;">
                </a>
              </li>
              {% assign sorted_pages = site.pages | where:'showInNavbar', false | sort: 'weight' %}
              {% for section in sorted_pages %}
                {% if section.title %}
                  <li>
                    <a class="page-link{% if section.url == page.url %} active{% endif %}" href="{{ section.url | prepend: site.baseurl }}">{{ section.title }}</a>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
          <div class="legal-footer">
            <ul>
              <li>
                <a href="http://presidencia.gob.mx/" title="Presidencia de la República">
                  <i class="i presidencia-gray"></i>
                </a>
              </li>
              <li>
                <a href="http://mxabierto.tumblr.com/" title="México Abierto">
                  <i class="i mxabierto-gray"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
