<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
    <p class="intro-text">4 pasos básicos para cumplir con el Decreto de Datos Abiertos.</p>
    <aside class="guide-navigation">
        <ul>
            {% assign sorted_pages = site.pages | where:'section','guide' | where:'showInSidebar',true | sort: 'weight' %}
            {% for section in sorted_pages %}
                {% if section.title %}
                    <li class="{{ section.menu_item }} {% if page.url contains section.url %} active{% endif %}">
                        <a href="{{ section.url | prepend: site.baseurl }}" aria-label="{{ section.aria_label }}">{{ section.home_link }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </aside>
</div>