<div id="title-section" class="row">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <h1 role="presentation"><a href="{{ site.url | append : site.baseurl }}" class="info-title" tabindex="-1">Guía</a></h1>
    </div>
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 breadcrumb">
        <a href="{{ site.url | append : site.baseurl }}">/ Inicio</a>
        {% capture full_url %}{{ page.url | remove: '/index.html' | replace: '/', ' ' }}{% endcapture %}
        {% capture section %}{{ full_url | truncatewords: 1 | remove: '...' }}{% endcapture %}
        {% if section %}
            <a href="{{ section | prepend : "/" | prepend : site.baseurl }}">/ <span>{{ section | replace: '-', ' ' }}</span></a>
        {% endif %}
        {% capture full_url %}{{ full_url | replace: section, ' ' }}{% endcapture %}
        {% assign words = full_url | number_of_words %}
        {% if words != 0 %}
            {% capture post %}{{ full_url | truncatewords: 1 | remove: '...' }}{% endcapture %}
            {% if post != ' ' %}
                <a href="{{ post | prepend : '/' | prepend : section | prepend : '/' | prepend : site.baseurl }}">/ {{ page.title }}</a>
            {% endif %}
        {% endif %}
    </div>
</div>