<head>
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{{ site.description }}">
    
    <link rel="shortcut icon" href="{{ "/assets/images/bg/favicon.ico" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <script src="{{ "/assets/js/vendor/jquery.js" | prepend: site.baseurl }}" type="text/javascript"></script>
    <script src="{{ "/assets/js/vendor/jquery.bxslider.min.js" | prepend: site.baseurl }}" type="text/javascript"></script>
    <script src="{{ "/assets/js/vendor/tap.js" | prepend: site.baseurl }}" type="text/javascript"></script>
    <script src="{{ "/assets/js/application.js" | prepend: site.baseurl }}" type="text/javascript"></script>
    <script src="{{ "/assets/js/search-data.js" | prepend: site.baseurl }}" type="text/javascript"></script>
    <script src="{{ "/assets/js/subscribe.js" | prepend: site.baseurl }}" type="text/javascript"></script>
</head>
