<header class="site-header">
  <div class="site-header-top">
    <div class="main-container">
      <div class="cols-12">
        <div class="col col-12">
          <div class="col-inner">
            <div class="presidencia-brand">
              <a href="http://presidencia.gob.mx/" title="Presidencia de la República" target="_blank">
                <i class="i presidencia"></i>
              </a>
            </div>
            <div class="social-links">
              <ul>
                <li>
                  <a href="https://twitter.com/{{ site.twitter_username }}" title="Twitter" target="_blank">
                    <i class="i twitter-gray"></i>
                  </a>
                </li>
                <li>
                  <a href="" title="Facebook">
                    <i class="i fb-gray"></i>
                  </a>
                </li>
                <li>
                  <a href="https://github.com/mxabierto/dgm" title="Repositorio GitHub" target="_blank">
                    <i class="i octocat-gray"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="site-header-bottom">
    <div class="main-container">
      <div class="cols-12">
        <div class="col col-12">
          <div class="col-inner">
            <a class="site-brand" href="{{ site.url | append: site.baseurl }}">
              <i class="i dgm-logo"></i>
            </a>
            <div class="open-data-header-poster">
              <div class="poster-part-1">
                Abrir para
              </div>
              <div class="poster-part-2">
                <ul>
                  <li>innovar</li>
                  <li>emprender</li>
                  <li>transparentar</li>
                  <li>participar</li>
                  <li>ahorrar</li>
                  <li>evaluar</li>
                  <li>eficientar</li>
                </ul>
              </div>
            </div>
            <div class="nav-burguer"><span></span></div>
            <nav class="site-navigation">
              <ul>
                <li>
                  <a class="page-link" href="http://catalogo.datos.gob.mx/dataset">Datos</a>
                </li>
                {% assign sorted_pages = site.pages | where:'showInNavbar',true | sort: 'weight' %}
                {% for section in sorted_pages %}
                  {% if section.title %}
                    <li>
                      <a class="page-link{% if section.url == page.url %} active{% endif %}" href="{{ section.url | prepend: site.baseurl }}">{{ section.title }}</a>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
