<div class="slide" style="background-image: url('{{ site.url | append: site.baseurl }}/assets/images/home-slider-1.jpg');">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <div class="presentation-box">
            <span class="tag-top">Datos Abiertos para</span>
            <h1 class="main-headline">
              <span>Mapa interactivo de pobreza </span><br>
              <span>interdimensional y rezago social</span>
            </h1>
            <a class="btn btn-red presentation-cta" href="{{ 'historias' | prepend: site.baseurl }}" title="Más Historias">Más Historias</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>