<header class="container-fluid">
    <div class="row">
        <div class="col-lg-7 col-md-7 col-sm-5 col-xs-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
            {% include breadcrumb.html %}
        </div>
        <div class="col-lg-3 col-md-3 col-sm-5 col-xs-11">
            <ul class="nav nav-tabs pull-right">
                <li role="presentation" class="{% if include.highlight == 'all' %}active{% endif %}"><a href="/impacto">Todos</a></li>
                <li role="presentation" class="{% if include.highlight == 'histories' %}active{% endif %}"><a href="/impacto/historias">Historias</a></li>
                <li role="presentation" class="{% if include.highlight == 'advancement' %}active{% endif %}"><a href="/impacto/avances">Avances</a></li>
            </ul>
        </div>
    </div>
</header>
<section id="section-title">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                {% assign avances = site.posts | where: 'sub_section', 'avances' | where: 'published', true %}
                {% assign historias = site.posts | where: 'sub_section', 'historias' | where: 'published', true %}
                <h1>Impacto</h1>
                <p>{{ historias.size }} Historias</p>
                <p>{{ avances.size }} Avances</p>
            </div>
        </div>
    </div>
</section>