<div class="open-data-poster">
  <div class="main-container">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <div class="poster-part-1">
            Abrir para
          </div>
          <div class="poster-part-2">
            <ul>
              <li>innovar</li>
              <li>emprender</li>
              <li>transparentar</li>
              <li>participar</li>
              <li>ahorrar</li>
              <li>evaluar</li>
              <li>eficientar</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>