<header class="page-title-icon">
  <div class="main-container">
    <div class="cols-12">
      <div class="col col-2 omega">
        <div class="col-inner">
          <div class="title-icon">
            <i class="i {{ include.icon }}"></i>
          </div>
        </div>
      </div>
      <div class="col col-10 alpha">
        <div class="col-inner">
          <div class="title">
            <h1>{{ include.title }}</h1>
            <p>{{ include.tagline }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>