<aside>
  <ul class="section-nav" role="presentation" aria-hidden="true">
    {% assign progress_categories = site.pages | where: 'progress_category', true | sort: 'order' %}
    {% for category_page in progress_categories %}
      <li>
        <a href="{{ site.baseurl | append: category_page.url }}" class="category-inner {{ category_page.category_info.name }}{% if page.active == category_page.category_info.name %} active{% endif %}" tabindex="-1">{{ category_page.category_info.title }}</a>  
      </li>
    {% endfor %}
  </ul>
</aside>