<div class="search-data">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <form action="http://catalogo.datos.gob.mx/dataset?q=" class="search-data-form-js">
            <h4>En <strong>datos.gob.mx</strong> puedes descargar y utilizar libremente datos públicos <br> que el Gobierno de la República genera y recolecta.</h4>
            <div class="input-button-wrap">
              <div class="input-button">
                <input type="text" placeholder="Ej. Nivel de marginación por municipio">
                <button type="submit">
                  <i class="i search-white"></i>
                </button>
              </div>
              <p class="message">Por favor escribe algo en el campo.</p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>