<section class="search-data">

  <div class="cols-12">
    <div class="col col-3"></div>
    <div class="col col-6">
      <iframe width="640" height="390" src="https://www.youtube.com/embed/385TL33Yup0" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="col col-3"></div>
  </div>

  <div class="main-container">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <form action="http://catalogo.datos.gob.mx/dataset?q=" class="search-data-form-js" role="search">
            <h4 role="header">En <b>datos.gob.mx</b> puedes descargar y utilizar libremente datos públicos <br> que el Gobierno de la República genera y recolecta.</h4>
            <div class="input-button-wrap white">
              <div class="input-button">
                <label class="hidden" id="label-search-data">Escribe y busca datos abiertos, por ejemplo: Nivel de marginación por municipio</label>
                <input aria-labelledby="label-search-data" type="text" placeholder="Ejemplo. Nivel de marginación por municipio">
                <button type="submit">
                  <img class="icon" src="/assets/svg/icon-search-black-18.svg" alt="">
                </button>
              </div>
              <p class="message" aria-live="assertive" aria-atomic="true"></p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
