<h4>Filtros</h4>
<h3>Sector</h3>
<ul>
    <li class="{% if include.highlight == 'all' %}active{% endif %} icon-item filter-all"><a href="#">Todas</a></li>
    <li class="{% if include.highlight == 'health' %}active{% endif %} icon-item filter-health"><a href="#">Salud</a></li>
    <li class="{% if include.highlight == 'geospatial' %}active{% endif %} icon-item filter-geospatial"><a href="#">Geoespacial</a></li>
    <li class="{% if include.highlight == 'security' %}active{% endif %} icon-item filter-security"><a href="#">Seguridad y justicia</a></li>
    <li class="{% if include.highlight == 'energy' %}active{% endif %} icon-item filter-energy"><a href="#">Energía y medio ambiente</a></li>
    <li class="{% if include.highlight == 'education' %}active{% endif %} icon-item filter-education"><a href="#">Educación</a></li>
    <li class="{% if include.highlight == 'economy' %}active{% endif %} icon-item filter-economy"><a href="#">Economía</a></li>
    <li class="{% if include.highlight == 'culture' %}active{% endif %} icon-item filter-culture"><a href="#">Cultura y turismo</a></li>
    <li class="{% if include.highlight == 'finance' %}active{% endif %} icon-item filter-finance"><a href="#">Finanzas y contrataciones</a></li>
    <li class="{% if include.highlight == 'infrastructure' %}active{% endif %} icon-item filter-infrastructure"><a href="#">Infraestructura</a></li>
    <li class="{% if include.highlight == 'development' %}active{% endif %} icon-item filter-development"><a href="#">Desarrollo sostenible</a></li>
    <li class="{% if include.highlight == 'government' %}active{% endif %} icon-item filter-government"><a href="#">Gobiernos locales</a></li>
    <li class="{% if include.highlight == 'others' %}active{% endif %} icon-item filter-others"><a href="#">Otros</a></li>
</ul>
<h3>Nivel</h3>
<ul>
    <li><a href="#">Federal</a></li>
    <li><a href="#">Estatal</a></li>
    <li><a href="#">Municipal</a></li>
    <li><a href="#">Organismos Autónomos</a></li>
</ul>
<h3>Formatos</h3>
<ul>
    <li><a href="#">CSV</a></li>
    <li><a href="#">XML</a></li>
    <li><a href="#">JSON</a></li>
</ul>