<div class="page-sidebar">
  <div class="page-info">
    <a href="/historias" class="page-info-title">Historias</a>
    <p>Narrativas sobre el uso de Datos Abiertods que ayudan a conocer, entender y apoyar los objetivos de desarrollo económico, político y social en México.</p>
  </div>
  <ul class="page-filters" role="presentation" aria-hidden="true">
    <li class="page-filters-title">Filtros</li>
    {% assign stories_categories = site.pages | where: 'stories_category', true | sort: 'order' %}
    {% for category_page in stories_categories %}
      <li>
        <a href="{{ site.baseurl | append: category_page.url }}" class="category-inner {{ category_page.category_info.name }}{% if page.active == category_page.category_info.name %} active{% endif %}" aria-hidden="true" tabindex="-1">
          <img class="cat-icon" src="/assets/svg/icon-{{ category_page.category_info.name }}.svg" alt="">
          {{ category_page.category_info.title }}
        </a>
      </li>
    {% endfor %}
  </ul>

  <a href="" class="btn btn-sm btn-green" title="Envía tu historia">Envía tu historia</a>
</div>