<div class="subscribe">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <form action="">
            <h2>¿Te interesa saber más sobre <strong>datos.gob.mx</strong>?</h2>
            <div class="input-button">
              <input type="text" placeholder="Correo electrónico">
              <button type="submit">
                <i class="i arrow-right-gray"></i>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>