<section class="subscribe">
  <div class="main-container">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <form action="//gob.us9.list-manage.com/subscribe/post-json?u=2128f25c973f219e1b51af623&amp;id=99ced13731&amp;c=?" method="get" id="mc-embedded-subscribe-form" role="search" novalidate>
            <h4 aria-hidden="true">¿Te interesa saber más sobre <strong>datos.gob.mx</strong>?</h4>

            <div class="input-button-wrap">
              <div class="input-button">
                <span class="hidden" id="subscribe-label" aria-hidden="true">Ingresa tu correo electrónico para recibir noticias sobre DATOS.GOB.MX</span>
                <input type="email" name="EMAIL" placeholder="Correo electrónico" class="required email" id="mce-EMAIL" aria-labelledby="subscribe-label" required>
                <button type="submit" aria-label="Enviar correo electrónico">
                  <i class="i arrow-right-gray" role="presentation"></i>
                </button>
              </div>
              <p class="message" aria-live="assertive" aria-atomic="true"></p>
            </div>

            <input class="hidden" type="text" name="b_2128f25c973f219e1b51af623_99ced13731" tabindex="-1" aria-hidden="true">
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
