<div class="subscribe">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <!-- Begin MailChimp Signup Form -->
          <div id="mc_embed_signup">
            <form action="//gob.us9.list-manage.com/subscribe/post-json?u=2128f25c973f219e1b51af623&id=99ced13731&c=?" method="get" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

              <div id="mc_embed_signup_scroll">
                <h4>¿Te interesa saber más sobre <strong>datos.gob.mx</strong>?</h4>
                <div class="mc-field-group">
                  <div class="input-button-wrap">
                    <div class="input-button">
                      <input type="email" value="" name="EMAIL" placeholder="Correo electrónico" required="true" email="true" class="required email" id="mce-EMAIL">
                      <button type="submit" id="mc-embedded-subscribe" name="subscribe">
                        <i class="i arrow-right-gray"></i>
                      </button>
                    </div>
                    <p class="message"></p>
                  </div>
                </div>
                <div style="position: absolute; left: -5000px;">
                <input type="text" name="b_2128f25c973f219e1b51af623_99ced13731" tabindex="-1" value=""></div>
              </div>

            </form>
          </div>
          <!--End mc_embed_signup-->
        </div>
      </div>
    </div>
  </div>
</div>
