<div class="row equal-height">
    {% assign i = 0 %}
    {% if include.featured %}
        {% for post in include.featured %}
            <div class="tools-item first">
                <a class="text-center" href="{{ post.permalink }}"><img src="{{ "/assets/img/" | append: include.section | append: '/' | append: post.cover | prepend: site.baseurl | prepend: site.url }}"></a>
                <div class="inner">
                    <div class="row equal-height">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            <span class="category-icon icon-{{ post.category }}"></span>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                            <a href="{{ post.permalink }}"><h5>{{ post.title }}</h5></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row equal-height">
        {% endfor %}
        {% for post in include.posts reversed %}
            {% assign i = i | plus: 1 %}
            <div class="tools-item">
                <a href="{{ post.permalink }}"><img src="{{ "/assets/img/" | append: include.section | append: '/' | append: post.cover | prepend: site.baseurl | prepend: site.url }}"></a>
                <div class="inner">
                    <div class="row equal-height">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                            <span class="category-icon icon-{{ post.category }}"></span>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                            <a href="{{ post.permalink }}"><h5>{{ post.title }}</h5></a>
                        </div>
                    </div>
                </div>
            </div>
            {% if i == 2 %}
                {% assign i = 0 %}
                </div>
                <div class="row equal-height">
            {% endif %}
        {% endfor %}
    {% else %}
        {% for post in include.posts reversed %}
            {% if forloop.first %}
                <div class="tools-item first">
                    <a class="text-center" href="{{ post.permalink }}"><img src="{{ "/assets/img/" | append: include.section | append: '/' | append: post.cover | prepend: site.baseurl | prepend: site.url }}"></a>
                    <div class="inner">
                        <div class="row equal-height">
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                <span class="category-icon icon-{{ post.category }}"></span>
                            </div>
                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                <a href="{{ post.permalink }}"><h5>{{ post.title }}</h5></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row equal-height">
            {% else %}
                {% assign i = i | plus: 1 %}
                <div class="tools-item">
                    <a href="{{ post.permalink }}"><img src="{{ "/assets/img/" | append: include.section | append: '/' | append: post.cover | prepend: site.baseurl | prepend: site.url }}"></a>
                    <div class="inner">
                        <div class="row equal-height">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <span class="category-icon icon-{{ post.category }}"></span>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                <a href="{{ post.permalink }}"><h5>{{ post.title }}</h5></a>
                            </div>
                        </div>
                    </div>
                </div>
                {% if i == 2 %}
                    {% assign i = 0 %}
                    </div>
                    <div class="row equal-height">
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endif %}
</div>