
$base-color: #00cc99;
$base-color-darker: #009966;
$text-color: #303030;
$black-color: #000;
$gray-color: #474747;
$gray-light-color: #eeeeee;
$white-color: #fff;
$purple-color: #663399;

$education-color: #ff6666;
$enviroment-color: #74d241;
$health-color: #007eee;
$security-color: #ffb418;
$other-color: #a6a6a6;
$gray-color: #474747;
$gray-light-color: #d9d9d9;
$green-color: #00ca89;


$site-font: "Open Sans", sans-serif; 