.page {

  .page-icon {
    text-align: center;
  } 
}

.page-sidebar {
  .page-info-title {
    @extend h3;

    &:hover {
      color: $base-color;
    }
  }

  p {
    @include text-size-small;
  } 

  .page-filters {
    list-style: none;

    li a {
      font-weight: 100;
      color: $gray-color;
      @include text-size-regular;

      &:hover {
        color: $base-color;
      }

      &.active {
        color: $base-color;
      }
    }

    .cat-icon {
      vertical-align: middle;
    }

    .page-filters-title {
      text-transform: uppercase;
      color: #595959;
      @include text-size-small;
    }
  }
}