---
layout: default
body_class: tools
title: Herramientas
aria_label: Herramientas creadas con Datos
permalink: /herramientas/
weight: 2
showInNavbar: true
---

{% include page-title-icon.html title=page.title tagline="Los datos abiertos deben poder ser utilizados por cualquier persona y para cualquier fin. En esta sección encontrarás herramientas para facilitar el uso de los datos abiertos del gobierno y poder crear tus propias historias." icon="tools-illustration" %}

{% assign tools_categories = site.pages | where: 'tools_category', true | sort: 'order' %}
{% for category_page in tools_categories %}
  <li>
    <a href="{{ site.baseurl | append: category_page.url }}" class="category-inner {{ category_page.category_info.name }}{% if page.active == category_page.category_info.name %} active{% endif %}">{{ category_page.category_info.title }}</a>  
  </li>
{% endfor %}

<div class="{{ page.body_class }}-content">
  <div class="tools-list">
    <div class="main-container">
      <div class="cols-12">
        {% assign stories = site.posts | where:'section', 'herramientas' %}
        {% for post in stories %}
          <div class="col col-4">
            <div class="col-inner">
              <a class="tool-link" href="{{ post.url | prepend: site.baseurl }}">
                <div class="tool-box">
                  <div class="tool-cover" style="background-image: url('{{ site.url | append: site.baseurl }}/assets/images/{{ post.cover }}');"></div>
                  <div class="tool-main">
                    <h6 class="tool-link">{{ post.title }}</h6>
                    <div class="tool-meta"><span class="timeago" data-timestamp="{{ post.date }}" data-timestamp-format="normal"></span></div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% include subscribe.html %}
