---
layout: default
title: Herramientas
---

<header class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-5 col-xs-11 col-lg-offset-8 col-md-offset-8 col-sm-offset-6">
            <ul class="nav nav-tabs pull-right">
                <li role="presentation" class="active"><a href="/herramientas">Todos</a></li>
                <li role="presentation"><a href="/herramientas/mapas">Mapas</a></li>
                <li role="presentation"><a href="/herramientas/apps">Apps</a></li>
            </ul>
        </div>
    </div>
</header>
<section id="section-title">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                {% assign herramientas = site.posts | where: 'sub_section', 'herramientas' | where: 'published', true %}
                {% assign apps = site.posts | where: 'sub_section', 'apps' | where: 'published', true %}
                <h1>Herramientas</h1>
                <p>{{ herramientas.size }} Mapas</p>
                <p>{{ apps.size }} Apps</p>
            </div>
        </div>
    </div>
</section>
<div class="container-fluid">
    <div class="row equal-height">
        <div id="dgm-sidebar" class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            {% include sidebar.html highlight='all' %}
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 posts-container">
            {% assign posts = site.posts | where: 'section', 'herramientas' | where: 'published', true | sort: 'date' %}
            {% include posts_container.html posts=posts section='herramientas' %}
        </div>
    </div>
</div>