---
layout: default
title: Otros
permalink: /herramientas/otros/
---

{% include apps_header.html highlight='others' %}
<div class="container-fluid">
    <div class="row equal-height">
        <div id="dgm-sidebar" class="col-lg-2 col-md-2 hidden-sm hidden-xs">
            {% include sidebar.html highlight='all' %}
        </div>
        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 posts-container">
            {% assign posts = site.posts | where: 'sub_section', 'gov_apps' | where: 'published', true | sort: 'date' %}
            {% include gov_apps_container.html posts=posts %}
        </div>
    </div>
</div>