.categories-stories {

  .categories-list {
    list-style: none;

    li {
      float: left;
      width: (100%/6);
    }

    .category-inner {
      text-align: center;
      color: $white-color;
      font-size: 13px;
      font-weight: 600;
      text-transform: uppercase;
      background-color: $gray-color;

      &:hover {
        color: $base-color;
        background-color: lighten($gray-color, 5%);
      }

      &.active {
        background-color: $base-color;
        box-shadow: inset 0 -4px 0 $base-color-darker;
      }
    }
  }
}

.stories-title {
  text-align: center;

  p {
    @include text-size-large;
  }
}

.posts-list {
  .story-post {
    
    .main-container:hover {
      .story-category {
        background-color: $base-color;

        h5 {
          color: $white-color;
        }
      }

      .story-main {
        background-color: $base-color;

        h3, .post-author, .post-meta {
          color: $white-color;
        }
      }
    }

    .story-category {
      background-color: $gray-light-color;
      @include transition (all .1s ease-in-out);

      h5 { 
        font-size: 14px;
        font-weight: 600;
        color: $gray-color;
        text-transform: uppercase;
        @include transition (all .1s ease-in-out);
      }
    }

    .story-cover {
      @include cover-background;
    }

    .story-main {
      background-color: $gray-light-color;
      @include transition (all .1s ease-in-out);

      h3 {
        font-size: 18px;
        font-weight: 600;
        color: $gray-color;
        @include transition (all .1s ease-in-out);
      }

      .post-author {
        color: $gray-color;
        font-size: 14px;
        @include transition (all .1s ease-in-out);
      }

      .post-meta {
        color: $gray-color;
        font-size: 13px;
        @include transition (all .1s ease-in-out);

        span {
          font-weight: 100;
        }
      }
    }
  }

  .post-list-load-more {
    text-align: center;
  }
}