.container-fluid
    .row
        .col-md-12
            h2 
                a( href="//datos.gob.mx/busca" target="_self" ) Datos
            ul.data-list.row
                li.col-md-4.col-xs-12.col-sm-12.active( ng-click="load( $event, 0 )" )
                    span Tiempo real / APIs
                li.col-md-4.col-xs-12.col-sm-12( ng-click="load( $event, 1 )" ) 
                    span Recomendados
                li.col-md-4.col-xs-12.col-sm-12( ng-click="load( $event, 2 )" ) 
                    span Recientes
            .data-table
                table.table
                    thead.hidden-xs.hidden-sm
                        tr
                            th Nombre
                            th Institución
                            th Formato
                    tbody
                        tr.hidden-xs.hidden-sm( ng-repeat="dataset in datasets" ng-click="select( dataset.name, dataset.link )" )
                            td {{ dataset.title }}
                            td( width="25%" ) {{ dataset.organization.title }}
                            td( width="10%" )
                                span.dataset-format( ng-if="dataset.resources[0].format" data-format="{{ dataset.resources[0].format | noSpace }}") {{ dataset.resources[0].format }}
                        tr.hidden-md.hidden-lg( ng-repeat="dataset in datasets" ng-click="select( dataset.name )" )
                            td
                                p {{ dataset.title }}
                                p {{ dataset.organization.title }}

                                    span.dataset-format( ng-if="dataset.resources[0].format" data-format="{{ dataset.resources[0].format | noSpace }}") {{ dataset.resources[0].format }}
    .row
        .col-md-12
            a.datas-history(href="https://www.gob.mx/participa/historias-con-datos", alt="Historia de datos")
                span.history-title Historias de datos
                span ¿Has usado datos abiertos para crear herramientas?
                span Únete a historias de datos