.container-fluid
    .row
        .col-md-12
            h2 
                a( href="//datos.gob.mx/busca" target="_self" ) Datos
            ul.data-list.row
                li.col-md-4.col-xs-12.col-sm-12.active( ng-click="load( $event, 0 )" ) 
                    span Recomendados
                li.col-md-4.col-xs-12.col-sm-12( ng-click="load( $event, 1 )" ) 
                    span Recientes
                li.col-md-4.col-xs-12.col-sm-12( ng-click="load( $event, 2 )" )
                    span Más descargados
            .data-table
                table.table
                    thead.hidden-xs.hidden-sm
                        tr
                            th Nombre
                            th Institución
                            th Formato
                    tbody
                        tr.hidden-xs.hidden-sm( ng-repeat="dataset in datasets" ng-click="select( dataset.name )" )
                            td {{ dataset.title }}
                            td( width="25%" ) {{ dataset.organization.title }}
                            td( width="10%" )
                                span.dataset-format( ng-if="dataset.resources[0].format == 'CSV' || dataset.resources[0].format == 'JSON' || dataset.resources[0].format == 'SHP' || dataset.resources[0].format == 'KML' || dataset.resources[0].format == 'XLSX' || dataset.resources[0].format == 'XLS' || dataset.resources[0].format == 'GEOJSON' || dataset.resources[0].format == 'XML' || dataset.resources[0].format == 'ZIP' || dataset.resources[0].format == 'csv' || dataset.resources[0].format == 'json' || dataset.resources[0].format == 'shp' || dataset.resources[0].format == 'kml' || dataset.resources[0].format == 'xlsx' || dataset.resources[0].format == 'xls' || dataset.resources[0].format == 'geojson' || dataset.resources[0].format == 'xml' || dataset.resources[0].format == 'zip'" data-format="{{ dataset.resources[0].format | noSpace }}") {{ dataset.resources[0].format }}
                        tr.hidden-md.hidden-lg( ng-repeat="dataset in datasets" ng-click="select( dataset.name )" )
                            td
                                p {{ dataset.title }}
                                p {{ dataset.organization.title }}
                                    span.dataset-format( ng-if="dataset.resources[0].format == 'CSV' || dataset.resources[0].format == 'JSON' || dataset.resources[0].format == 'SHP' || dataset.resources[0].format == 'KML' || dataset.resources[0].format == 'XLSX' || dataset.resources[0].format == 'XLS' || dataset.resources[0].format == 'GEOJSON' || dataset.resources[0].format == 'XML' || dataset.resources[0].format == 'ZIP' || dataset.resources[0].format == 'csv' || dataset.resources[0].format == 'json' || dataset.resources[0].format == 'shp' || dataset.resources[0].format == 'kml' || dataset.resources[0].format == 'xlsx' || dataset.resources[0].format == 'xls' || dataset.resources[0].format == 'geojson' || dataset.resources[0].format == 'xml' || dataset.resources[0].format == 'zip'" data-format="{{ dataset.resources[0].format | noSpace }}") {{ dataset.resources[0].format }}