.container-fluid
    .row
        .col-md-12
            h2 Datos
            ul.data-list.row
                li.col-md-4.active( ng-click="load( $event, 0 )" ) 
                    span Recomendados
                li.col-md-4( ng-click="load( $event, 1 )" ) 
                    span Recientes
                li.col-md-4( ng-click="load( $event, 2 )" )
                    span Más descargados
            .data-table
                table.table
                    tbody
                        tr( ng-repeat="dataset in datasets" ng-click="select( dataset.name )" )
                            td {{ dataset.title }}
                            td( width="25%" ) {{ dataset.organization.title }}
                            td( width="10%" )
                                span.dataset-format( ng-if="dataset.resources[0].format == 'CSV' || dataset.resources[0].format == 'JSON' || dataset.resources[0].format == 'SHP' || dataset.resources[0].format == 'KML' || dataset.resources[0].format == 'XSLX' || dataset.resources[0].format == 'GEOJSON' || dataset.resources[0].format == 'XML' || dataset.resources[0].format == 'csv' || dataset.resources[0].format == 'json' || dataset.resources[0].format == 'shp' || dataset.resources[0].format == 'kml' || dataset.resources[0].format == 'xslx' || dataset.resources[0].format == 'geojson' || dataset.resources[0].format == 'xml'" data-format="{{ dataset.resources[0].format | noSpace }}") {{ dataset.resources[0].format }}