.breadcrumb-container
    .container-fluid
        .row
            .col-md-12
                breadcrumb
.iframe-container.hidden-xs.hidden-sm( ng-if="post.iframe" )
    iframe( class="tool-iframe noscroll" ng-src="{{ iframe }}" )
div( ng-if="post.section.slug == 'blog'" )
  .hidden-sm.hidden-xs.post-cover( ng-if="section == 'blog'" style="background-image: url('{{ post.cover_photo.path }}');" )
div( ng-repeat-end="" )
img.hidden-md.hidden-lg( ng-src="{{ post.cover_photo.path }}" ng-if="section == 'blog'" )
.container-fluid
    .row
        .col-md-12
            .row.post( ng-if="section == 'blog'" )
                .share-buttons.hidden-xs.hidden-sm
                    p Compartir
                    .fb-share
                        div( fb-share="post.name" )
                    .tw-share
                        div( tweet="post.name" )
                .col-md-8.col-md-offset-1
                    h1.title {{ post.name }}
                    p.author
                        span {{ post.creation_date | date : 'dd MMMM, yyyy' }} |
                        | {{ post.author }}
                    .content( ng-bind-html="content" )
                    div( class="datasets" ng-if="post.datasets.length > 0 && post.datasets[0] != ''" )
                        h2 Datos
                        .data-table
                            table.table
                                thead
                                    tr
                                        th Nombre
                                        th Institución
                                        th Formato
                                tbody
                                    tr( ng-repeat="dataset in datasets" ng-click="select( dataset.name )" )
                                        td
                                            a( href="http://datos.gob.mx/busca/dataset/{{ dataset.name }}" alt="{{ dataset.name }}" target="_self" ) {{ dataset.title }}
                                        td( width="25%" )
                                            a( href="http://datos.gob.mx/busca/organization/{{ dataset.organization.name }}" alt="{{ dataset.organization.name }}" target="_self" ) {{ dataset.organization.title }}
                                        td( width="10%" )
                                            span.dataset-format( ng-if="dataset.resources[0].format == 'CSV' || dataset.resources[0].format == 'JSON' || dataset.resources[0].format == 'SHP' || dataset.resources[0].format == 'KML' || dataset.resources[0].format == 'XLSX' || dataset.resources[0].format == 'XLS' || dataset.resources[0].format == 'GEOJSON' || dataset.resources[0].format == 'XML' || dataset.resources[0].format == 'csv' || dataset.resources[0].format == 'json' || dataset.resources[0].format == 'shp' || dataset.resources[0].format == 'kml' || dataset.resources[0].format == 'xlsx' || dataset.resources[0].format == 'xls' || dataset.resources[0].format == 'geojson' || dataset.resources[0].format == 'xml'" data-format="{{ dataset.resources[0].format | noSpace }}") {{ dataset.resources[0].format }}
                    div( class="datasets" ng-if="post.datasets_ext.length > 0 && post.datasets_ext[0] != '' && post.datasets_ext[0].name != ''" )
                        h2 Conjuntos de Datos Externos
                        .data-table
                            table.table
                                thead
                                    tr
                                        th Conjunto de datos
                                tbody
                                    tr( ng-repeat="dataset in post.datasets_ext" )
                                        td
                                            a( href="{{ dataset.href }}" alt="{{ dataset.name }}" target="_blank" ) {{ dataset.name }}
                    div( ng-if="post.section.slug == 'blog'" )
                      #disqus_thread
                    div( ng-repeat-end="" )
            .post.tool( ng-if="section == 'herramientas'" )
                .share-buttons.hidden-xs.hidden-sm
                    p Compartir
                    .fb-share
                        div( fb-share="post.name" )
                    .tw-share
                        div( tweet="post.name" )
                .row.hidden-md.hidden-lg
                    .col-xs-12.col-sm-12
                        .tool-slider
                            #tool-gallery-mobile.carousel.slide( data-ride="carousel" ng-if="post.slider_photos && post.slider_photos.length > 0" )
                                ol.carousel-indicators
                                    li( ng-repeat="photo in post.slider_photos" data-target="#tool-gallery-mobile" data-slide-to="{{ $index }}" ng-class="{active: $index == 0}" )
                                .carousel-inner( role="listbox" )
                                    .item( ng-repeat="photo in post.slider_photos" ng-class="{active: $index == 0}" )
                                        img( ng-src="{{ photo.path }}" )
                .row
                    .col-md-4.col-xs-12.col-sm-12.tool-info
                        h1.title {{ post.name }}
                        p.author
                            span {{ post.creation_date | date : 'dd MMMM, yyyy' }} |
                            | {{ post.author }}
                        a.tag( ui-sref="front.section({ section : post.section.slug, tag : post.tag.slug })" alt="{{ post.tag.name }}" )
                            span( class="tag-icon tag-{{ post.tag.slug }}" )
                            span.link {{ post.tag.name }}
                        .link-buttons
                            a.tool-link.web-link( href="{{ post.web_link }}" ng-if="post.web_link" alt="Web App" target="_blank" )
                                img( src="img/ic-web.png" alt="Web App" )
                                | Disponible en Aplicación Web
                            a.tool-link.apple-link( href="{{ post.apple_store }}" ng-if="post.apple_store" alt="App Store" target="_blank" )
                                img( src="img/ic-ios.png" alt="App Store" )
                                | Disponible en App Store
                            a.tool-link.google-link( href="{{ post.google_play }}" ng-if="post.google_play" alt="Android Market" target="_blank" )
                                img( src="img/ic-android.png" alg="Android Market" )
                                | Disponible en Android Market
                    .col-md-7.col-md-offset-1.hidden-xs.hidden-sm
                        .tool-slider
                            #tool-gallery.carousel.slide( data-ride="carousel" ng-if="post.slider_photos && post.slider_photos.length > 0" )
                                ol.carousel-indicators
                                    li( ng-repeat="photo in post.slider_photos" data-target="#tool-gallery" data-slide-to="{{ $index }}" ng-class="{active: $index == 0}" )
                                .carousel-inner( role="listbox" )
                                    .item( ng-repeat="photo in post.slider_photos" ng-class="{active: $index == 0}" )
                                        img( ng-src="{{ photo.path }}" )
                .row
                    .col-md-8
                        .content( ng-bind-html="content" )
                .row
                    .col-md-12
                        div( class="datasets" ng-if="post.datasets && post.datasets.length > 0 && post.datasets[0] != ''" )
                            h2 Datos
                            .data-table
                                table.table
                                    thead.hidden-xs.hidden-sm
                                        tr
                                            th Nombre
                                            th Institución
                                            th Formato
                                    tbody
                                        tr.hidden-xs.hidden-sm( ng-repeat="dataset in datasets" ng-click="select( dataset.name )" )
                                            td
                                                a( href="http://datos.gob.mx/busca/dataset/{{ dataset.name }}" alt="{{ dataset.name }}" target="_self" ) {{ dataset.title }}
                                            td( width="25%" )
                                                a( href="http://datos.gob.mx/busca/organization/{{ dataset.organization.name }}" alt="{{ dataset.organization.name }}" target="_self" ) {{ dataset.organization.title }}
                                            td( width="10%" )
                                                span.dataset-format( ng-if="dataset.resources[0].format == 'CSV' || dataset.resources[0].format == 'JSON' || dataset.resources[0].format == 'SHP' || dataset.resources[0].format == 'KML' || dataset.resources[0].format == 'XLSX' || dataset.resources[0].format == 'XLS' || dataset.resources[0].format == 'GEOJSON' || dataset.resources[0].format == 'XML' || dataset.resources[0].format == 'csv' || dataset.resources[0].format == 'json' || dataset.resources[0].format == 'shp' || dataset.resources[0].format == 'kml' || dataset.resources[0].format == 'xlsx' || dataset.resources[0].format == 'xls' || dataset.resources[0].format == 'geojson' || dataset.resources[0].format == 'xml'" data-format="{{ dataset.resources[0].format | noSpace }}") {{ dataset.resources[0].format }}
                                        tr.hidden-md.hidden-lg( ng-repeat="dataset in datasets" ng-click="select( dataset.name )" )
                                            td
                                                p {{ dataset.title }}
                                                p {{ dataset.organization.title }}
                                                    span.dataset-format( ng-if="dataset.resources[0].format == 'CSV' || dataset.resources[0].format == 'JSON' || dataset.resources[0].format == 'SHP' || dataset.resources[0].format == 'KML' || dataset.resources[0].format == 'XLSX' || dataset.resources[0].format == 'XLS' || dataset.resources[0].format == 'GEOJSON' || dataset.resources[0].format == 'XML' || dataset.resources[0].format == 'csv' || dataset.resources[0].format == 'json' || dataset.resources[0].format == 'shp' || dataset.resources[0].format == 'kml' || dataset.resources[0].format == 'xlsx' || dataset.resources[0].format == 'xls' || dataset.resources[0].format == 'geojson' || dataset.resources[0].format == 'xml'" data-format="{{ dataset.resources[0].format | noSpace }}") {{ dataset.resources[0].format }}
                        div( class="datasets" ng-if="post.datasets_ext.length > 0 && post.datasets_ext[0] != '' && post.datasets_ext[0].name != ''" )
                            h2 Conjuntos de Datos Externos
                            .data-table
                                table.table
                                    thead.hidden-xs.hidden-sm
                                        tr
                                            th Conjunto de datos
                                    tbody
                                        tr( ng-repeat="dataset in post.datasets_ext" )
                                            td
                                                a( href="{{ dataset.href }}" alt="{{ dataset.name }}" target="_blank" ){{ dataset.name }}
                        #disqus_thread
