.breadcrumb-container
  .container-fluid
    .row
      .col-md-5.col-xs-12.col-sm-12
        breadcrumb
      .col-md-7.hidden-xs.hidden-sm
        ul.categories-menu
          li( ng-class="{'active':category_id == undefined}" )
            a( ui-sref="front.section({ section : section, category : null, category_id : null, section_id : section_id })" )
              span( ng-if="section == 'blog'" ) Todas las historias
              span( ng-if="section == 'herramientas'" ) Todas las herramientas
          li( ng-repeat="category in categories" ng-class="{'active':category_id == category._id}" )
            a( ui-sref="front.section({ section : section, category : category.slug, category_id : category._id, section_id : section_id })" ) {{ category.name }}
.container-fluid
  .row
    .col-md-12.section-page
      h2.section-title {{ section }}
      .row
        .col-md-12
          form.search-form.posts.form-inline.filter-search( ng-submit="query()" )
            input.form-control( type="text" name="keyword" placeholder="Ej. Atlas de complejidad económica" ng-model="search.keyword" )
            select.form-control.hidden-xs.hidden-sm( name="tag" ng-model="search.tag" ng-options="option._id as option.name for option in options track by option._id" custom-select )
              option( value="" ) Filtrar por tema
            button.btn.btn-primary( type="submit" )
              .glyphicon.glyphicon-search
      .row.posts-row
        .col-md-12.post-item( ng-repeat="post in featured" ng-if="page == 1" )
          include ../includes/post.jade
      .row.posts-row( ng-if="section == 'blog'" )
        .col-md-6.post-item( ng-repeat-start="post in posts" )
          include ../includes/post.jade
        .clearfix( ng-if="$index % 2 == 1" )
        div( ng-repeat-end="" )
      .row.posts-row( ng-if="section == 'herramientas'" )
        .col-md-4.tool-item( ng-repeat-start="post in posts" )
          include ../includes/tool.jade
        .clearfix( ng-if="( $index + 1 ) % 3 == 0" )
        div( ng-repeat-end="" )
      //- Pagination
      p.text-center
        uib-pagination( max-size="10" boundary-links="true" boundary-link-numbers="true" rotate="true" total-items="total" items-per-page="per_page" previous-text!="&lsaquo;" next-text!="&rsaquo;" first-text!="&laquo;" last-text!="&raquo;" ng-model="page" ng-change="query()" )
