.breadcrumb-container
    .container-fluid
        .row
            .col-md-7
                breadcrumb
            .col-md-5
                ul.categories-menu
                    li( ng-class="{'active':category_id == undefined}" )
                        a( ui-sref="front.section({ section : section, category : null, category_id : null, section_id : section_id })" ) 
                            span( ng-if="section == 'blog'" ) Todas las historias
                            span( ng-if="section == 'herramientas'" ) Todas las herramientas
                    li( ng-repeat="category in categories" ng-class="{'active':category_id == category._id}" )
                        a( ui-sref="front.section({ section : section, category : category.slug, category_id : category._id, section_id : section_id })" ) {{ category.name }}
.container-fluid
    .row
        .col-md-12.section-page
            h2 {{ section }}
            .row
                .col-md-12
                    form.search-form.posts.form-inline( ng-submit="query()" )
                        input.form-control( type="text" name="keyword" placeholder="Ej. Atlas de complejidad económica" ng-model="search.keyword" )
                        div.custom-select
                            select.form-control( name="tag" ng-model="search.tag" ng-options="tag._id as tag.name for tag in tags track by tag._id" )
                                option( value="" ) Filtrar por tema
                        button.btn.btn-primary( type="submit" )
                            .glyphicon.glyphicon-search
            .row.posts-row
                .col-md-12.post-item( ng-repeat="post in featured" ng-if="page == 1" )
                    include ../includes/post.jade
            .row.posts-row
                .col-md-6.post-item( ng-repeat-start="post in posts" ng-if="section == 'blog'" )
                    include ../includes/post.jade
                .clearfix( ng-if="$index % 2 == 1 && section == 'blog'" )
                div( ng-repeat-end="" ng-if="section == 'blog'" )
                .col-md-4.tool-item( ng-repeat="post in posts" ng-if="section == 'herramientas'" )
                    include ../includes/tool.jade
                .clearfix( ng-if="$index % 3 == 2 && section == 'herramientas'" )
                div( ng-repeat-end="" ng-if="section == 'herramientas'" )
            p.text-center
                uib-pagination( max-size="10" boundary-links="true" boundary-link-numbers="true" rotate="true" total-items="total" items-per-page="per_page" previous-text!="&lsaquo;" next-text!="&rsaquo;" first-text!="&laquo;" last-text!="&raquo;" ng-model="page" ng-change="query()" )