.container-fluid
    .row
        .col-md-12.section-page
            h2 {{ section }}
            .row
                .col-md-8
                    form.search-form.colored.form-inline( ng-submit="query()" )
                        input.form-control( type="text" name="keyword" placeholder="Ej. Atlas de complejidad económica" ng-model="search.keyword" )
                        div.custom-select
                            select.form-control( name="tag" ng-model="search.tag" ng-options="tag._id as tag.name for tag in tags track by tag._id" )
                                option( value="" ) Todas las categorias
                        button.btn.btn-primary( type="submit" ) Buscar
            .row.posts-row
                .col-md-4.post-item( ng-repeat="post in posts" )
                    include ../includes/post.jade
                .col-md-12
            p.text-center
                uib-pagination( max-size="10" boundary-links="true" boundary-link-numbers="true" rotate="true" total-items="total" items-per-page="per_page" previous-text!="&lsaquo;" next-text!="&rsaquo;" first-text!="&laquo;" last-text!="&raquo;" ng-model="page" ng-change="query()" )