.row
    .col-md-6.col-md-offset-3
        form( ng-submit="create()" )
            .form-group
                label( for="name" ) Categoría
                input.form-control( type="text" name="name" placeholder="Categoría" ng-model="category.name" )
            .form-group
                label( for="slug" ) Slug
                input.form-control( type="text" name="slug" placeholder="Slug" ng-model="category.slug" )
            .form-group
                label( for="type" ) Tipo
                .custom-select
                    select.form-control( name="type" ng-model="category.type" )
                        option( value="" ) Seleccionar tipo...
                        option( value="SECTION" ) Sección
                        option( value="CATEGORY" ) Categoría
                        option( value="TAG" ) Tag
            .form-group( ng-if="category.type == 'CATEGORY'" )
                label( for="section" ) Sección
                .custom-select
                    select.form-control( name="section" ng-model="category.section" ng-options="section._id as section.name for section in sections track by section._id" )
                        option( value="" ) Seleccionar sección...