.inner
.post-info( ng-if="!$state.is( 'landing' )" ng-class="{featured:post.featured}" )
    span( class="tag-icon tag-developers" )
    .tool-content
        h3
            a( href="{{ post.datasets[0] }}" alt="{{ post.name }}" target="_blank" ng-if="post.datasets[0]" ) {{ post.name }}
        .author.excerpt{{ post.content | excerpt | limitTo:200 }}...
        p
            a.link_doc( href="{{ post.datasets[0] }}" alt="{{ post.name }}" target="_blank" ng-if="post.datasets[0]" ) Leer documentación
