.inner
    a.tag( ui-sref="front.section({ section : post.section.slug, tag : post.category.slug })" alt="{{ post.category.name }}" )
        .tool-content
          .container-fluid
                .row
                    .col-sm-12
                        .video
                            iframe( src="{{ trustSrc(post.datasets[0]) }}" allowfullscreen )
                    .col-sm-12
                        h3
                            a( href="{{ post.datasets[0] }}" alt="{{ post.name }}" target="_blank" ng-if="post.datasets[0]" ) {{ post.name }}
                        .content( ng-bind-html="post.content" )
                        
