.inner
    img( ng-src="{{ post.grid_photo.path }}" ng-if="!post.featured" )
    img( ng-src="{{ post.cover_photo.path }}" ng-if="post.featured" )
    .overlay( ng-if="$state.is( 'landing' )" )
        h3: a( ui-sref="front.post({ section : post.section.slug, category : post.category.slug, tag : post.tag.slug, post : post.slug })" alt="{{ post.name }}" ) {{ post.name | limitTo:46 }}
        p.author {{ post.author }}
        p.no-margin
            a.read-more( ui-sref="front.post({ section : post.section.slug, category : post.category.slug, tag : post.tag.slug, post : post.slug })" alt="{{ post.name }}" )
                | Leer más
        a.tag( ui-sref="front.section({ section : post.section.slug, tag : post.tag.slug })" alt="{{ post.tag.name }}" )
            span( class="tag-icon tag-{{ post.tag.slug }}" )
            span.link {{ post.tag.name }}
        p.category
            a( ui-sref="front.section({ section : post.section.slug, category : post.category.slug })" alt="{{ post.category.name }}" ) {{ post.category.name }}
    a.tag( ui-sref="front.section({ section : post.section.slug, tag : post.tag.slug })" alt="{{ post.tag.name }}" ng-if="!$state.is( 'landing' )" )
        span( class="tag-icon tag-{{ post.tag.slug }}" )
.post-info( ng-if="!$state.is( 'landing' )" ng-class="{featured:post.featured}" )
    h3: a( ui-sref="front.post({ section : post.section.slug, category : post.category.slug, tag : post.tag.slug, post : post.slug })" alt="{{ post.name }}" ) {{ post.name }}
    p.category
        a( ui-sref="front.section({ section : post.section.slug, category : post.category.slug })" alt="{{ post.category.name }}" ) {{ post.category.name }}
    p.author {{ post.author }}
        a.read-more( ui-sref="front.post({ section : post.section.slug, category : post.category.slug, tag : post.tag.slug, post : post.slug })" alt="{{ post.name }}" ) Leer más