.inner
    a(href="{{ visualizer.link }}" alt="{{ visualizer.name }}")
        img( ng-src="{{ visualizer.cover_photo.path }}")
    overlay
        .post-info
            h3
                a( href="{{ visualizer.link }}" alt="{{ visualizer.name }}" ng-if="visualizer.link" ) {{ visualizer.name }}
            p.excerpt.hidden-xs.hidden-sm {{ visualizer.content | excerpt | limitTo:150 }}...
            p.author {{ visualizer.author }}
