.open-data-poster {
  text-align: center;  
  background: #ff6666;
  
  .poster-part-1, .poster-part-2 {
    font-size: 32px;
    color: $white-color;
  }

  .poster-part-1 {
    font-weight: 300;
  }

  .poster-part-2 {
    text-align: left;
    font-weight: 600;
    position: relative;

    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      box-shadow: inset 0 0 13px 8px #ff6666;
    }

    ul {
      list-style: none;
      @include animation(change 10s 2s ease-in-out infinite);
    }
  }
}

@include keyframes(change) {
  0% {
    margin-top: 0;
  }

  12.5% {
    margin-top: -60px;
  }

  25% {
    margin-top:-120px;
  }

  37.5% {
    margin-top:-180px;
  }

  50% {
    margin-top:-240px;
  }

  62.5% {
    margin-top:-300px;
  }

  75% {
    margin-top: -360px;
  }

  87.5% {
    margin-top:0px;
  }
}
