$height-half: 240px;

.post {
  .post-cover-photo {
    height: 460px;
  }

  .tool-iframe {
    width: 100%;
    height: 650px;
    overflow:hidden
  }

  .post-main {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-top: -$height-half;

    .post-main-inner {
      padding: 25px 25px 25px 15px;
    }

    .breadcrumbs {
      margin-bottom: 15px;
    }

    .post-author {
      display: inline-block;
      margin: 15px 0;
    }

    .post-tags {
      margin-bottom: 20px;
    }

    .post-content {
      margin-bottom: 35px;

      iframe {
        margin: 20px 0;
      }
    }

    .post-datasets .datasets-list li {
      padding-left: 15px;
      margin-top: 5px;
      position: relative;

      &:hover {
        padding-left: 18px;
      }

      &:first-child {
        margin-top: 0;
      }

      span {
        position: absolute;
        left: 0;
        top: 0;
      }
    }

    .post-sidebar {
      padding: 25px 25px 0 0;

      .sidebar-box {
        h6 {
          margin-bottom: 5px;
        }

        margin-bottom: 25px;
      }
    }

    .collaborators {
      @include clearfix;

      .collaborator {
        display: block;
        margin-top: 10px;
  
        a {
          display: inline-block;
        }
  
        &:first-child {
          margin-top: 0;
        }
  
        img {
          display: block;
        }
      }
    }
  }

  .post-section {
    padding-top: 15px;
    margin-bottom: 45px;

    h5 {
      margin-bottom: 10px;
    }
  }
}

.social-buttons {
  @include clearfix;

  .button-item {
    float: left;
    margin-right: 5px;
  }
}