.post {

  .post-cover-photo {
    background-color: $base-color;
    @include cover-background;
  }  

  .post-main {
    .main-container {
      background: $white-color;
    }

    .post-main-inner {
      
    }

    .breadcrumbs {
      font-size: 13px;
      text-transform: capitalize;
      color: $gray-light-color;

      a {
        color: $purple-color;
      }
    }

    .post-title {
      font-size: 26px;
      font-weight: 700;
      color: $base-color;
    }

    .post-author {
      font-size: 18px;
      color: $gray-color;
    }

    .post-tags {
      font-size: 13px;
      font-weight: 600;

      span {
        color: $gray-color;
      }
    }

    .post-content p {
      @include text-size-large;
    }

    .post-datasets .datasets-list {
      list-style: none;

      li {
        @include transition (all .1s ease-in-out);
      }

      a {
        font-size: 13px;
        font-weight: 300;
        color: $purple-color;
      }
    }

    .collaborators {
      list-style: none;

     .collaborator a {
        @include transition (all .1s ease-in-out);
        @include transform-origin(center center);
  
        &:hover {
          @include transform(scale(1.05, 1.05));
        }
      }
    }
  }

  .post-section {
    border-top: 2px solid $black-color;

    h5 {
      font-size: 14px;
    }
  }
}