.post {
  &.educacion { 
    .post-content a, .datasets-list a, .datasets-list span,  .post-title, .similar-datasets a { color: $education-color; }
    .post-cover-photo { background-color: $education-color; }
  }

  &.salud { 
    .post-content a, .datasets-list a, .datasets-list span, .post-title, .similar-datasets a { color: $health-color; }
    .post-cover-photo { background-color: $health-color; }
  }

  &.otras { 
    .post-content a, .datasets-list a, .datasets-list span, .post-title, .similar-datasets a { color: $other-color; }
    .post-cover-photo { background-color: $other-color; }
  }

  &.seguridad { 
    .post-content a, .datasets-list a, .datasets-list span, .post-title, .similar-datasets a { color: $security-color; }
    .post-cover-photo { background-color: $security-color; }
  }

  .post-cover-photo {
    @include cover-background;
  }  

  .post-main {
    .wrapper {
      background: $white-color;
    }

    .post-main-inner {
      
    }

    .breadcrumbs {
      font-size: 13px;
      text-transform: capitalize;
      color: $gray-light-color;

      a {
        color: $gray-color;
      }
    }

    .post-title {
      font-size: 26px;
      font-weight: 700;
    }

    .post-author {
      font-size: 18px;
      color: $gray-color;
    }

    .post-tags {
      font-size: 13px;
      font-weight: 600;

      span {
        color: $gray-color;
      }
    }

    .post-content p {
      @include text-size-large;
    }

    .post-datasets {
      .datasets-list {
        list-style: none;

        a {
          font-size: 13px;
          font-weight: 300;
        }
      }
    }
  }

  .post-section {
    border-top: 2px solid $black-color;

    h5 {
      font-size: 14px;
    }
  }
}