.row
    .col-md-12
        div.row.table-header
            div.col-md-3.col-md-offset-9
                form.search-form
                    input.form-control( type="text" placeholder="Buscar" )
                    i.glyphicon.glyphicon-search
        table.table.table-striped
            thead
                tr
                    th Título
                    th( width="20%" ) Enlace
                    th( width="20%" ) Organización
                    th( width="20%" ) Formato
                    th( width="8%" ) Tipo
            tbody
                tr( ng-repeat="api in apis" )
                    td
                        a( ui-sref="apis.edit({ id : api._id })" alt="{{ api.name }}" ) {{ api.title }}
                    td {{ api.link }}
                    td {{ api.organization }}
                    td {{ api.format }}
                    td.text-center
                        span.api-label( ng-if="api.type == 'RECOMMENDED'" ) Recomendado
        p.text-center
            uib-pagination( max-size="10" boundary-links="true" boundary-link-numbers="true" rotate="true" total-items="total" items-per-page="per_page" previous-text!="&lsaquo;" next-text!="&rsaquo;" first-text!="&laquo;" last-text!="&raquo;" ng-model="page" ng-change="query()" )