---
layout: default
title: Apps
permalink: /apps/
weight: 2
showInNavbar: true

active: all
apps_category: true
category_info:
  name: all
  title: Todas
--- 

<section class="apps">
  <div class="main-container">
    <div class="cols-12">
      <div class="col col-2">
        <div class="col-inner">
          {% include apps-sidebar.html %}
        </div>
      </div>
      <div class="col col-10">
        <div class="col-inner">
          <div class="entities-list-cards cols-12" role="list" aria-label="Historias con datos abiertos">
            {% assign apps_posts = site.posts | where: 'section', 'apps' | where: 'published', true %}
            {% for post in apps_posts %}
              {% if forloop.first %}
                <div class="col col-12" role="listitem">
                  <div class="col-inner">
                    {% include entity-card.html post=post size="lg" showAuthor=false showCategory=true %}
                  </div>
                </div>
              {% else %}
                <div class="col col-6" role="listitem">
                  <div class="col-inner">
                    {% include entity-card.html post=post showAuthor=false showCategory=true %}
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
          <div class="apps-list-cards cols-12" role="list" aria-label="Apps del Gobierno de la República">
            <div class="col col-12">
              <h1 class="green-title">Más Apps del Gobierno de la República</h1>
            </div>
            {% assign gov_apps_posts = site.posts | where: 'section', 'gov_apps' | where: 'published', true %}
            {% for post in gov_apps_posts %}
              <div class="col col-4" role="listitem">
                <div class="col-inner">
                  <div class="apps-list-card">
                    {% include entity-gov-card.html post=post  %}
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>