@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);
@import url( 'bower_components/bootstrap/less/bootstrap.less' );

/********************************
    General Styles
********************************/
body                                        { margin: 0; font-family: "Open Sans"; font-size: 16px; font-weight: 300; }
body.admin                                  { padding-top: 75px; background-color: #f5f7f8; font-size: 13px; }
img                                         { max-width: 100%; max-height: 100%; }
a, a:focus, a:active, a:focus               { outline: 0; text-decoration: none; }
.container-fluid                            { max-width: 1100px; }
body.admin .container-fluid                 { max-width: none; }

/********************************
    Sticky Footer Styles
********************************/
html                                        { position: relative; min-height: 100%; }
body                                        { margin: 0 0 432px; }
dgm-footer                                  { width: 100%; height: 432px; position: absolute; left: 0; bottom: 0; }

/********************************
    Fonts Styles
********************************/
h3                                          { font-family: "Open Sans"; font-size: 24px; font-weight: 300; }
strong                                      { font-weight: 400; }

/********************************
    Form Styles
********************************/
.front .form-control                        { height: 42px; padding: 10px 12px; border: none; }
.front .btn                                 { font-size: 13px; }
.front .btn-primary                         { height: 42px; background-color: #4a4a4a; border: none; }
.front .btn-primary:active                  { background-color: #333; }
.custom-select                              { height: 42px; padding: 0; margin: 0; background: #fff url("../img/ic_arrow_down.png") no-repeat 95% 50%; }
.custom-select select                       { border: none; box-shadow: none; background-color: transparent; color: #9b9b9b; background-image: none; -webkit-appearance: none; -moz-appearance: none; appearance: none; }
.custom-select select:focus,
.custom-select select:active                { outline: none; }
.form-inline .btn                           { margin-left: 0; }
.form-inline .custom-select                 { display: inline-block; border-left: 1px solid #ccc; }
.form-inline .custom-select select          { width: 100%; }
.data-form                                  { margin-top: 20px; margin-bottom: 30px; }
.data-form input[type="text"]               { width: 50%; border-radius: 4px 0 0 4px; }
.data-form select.form-control              { border-radius: 0; }
.data-form .custom-select                   { width: 34%; }
.data-form .btn                             { border-radius: 0 4px 4px 0; }

/********************************
    Landing Styles
********************************/
#landing-search                             { padding-top: 40px; padding-bottom: 30px; background-color: #0c9; text-align: center; color: rgba(255,255,255,0.9); }
#landing-search h3                          { margin-bottom: 20px; }
#landing-search .tags-list                  { margin-top: 30px; margin-bottom: 50px; padding: 0; list-style: none; }
#landing-search .tags-list li               { display: inline-block; margin-right: 10px; padding: 5px 10px; background-color: rgba(84,84,84,0.5); border-radius: 4px; font-size: 13px; }
#landing-search .tags-list li:hover         { background-color: rgba(84,84,84,0.6); }
#landing-search .tags-list li a             { display: block; color: #fff; }
#landing-search .tags-list li a:hover       { text-decoration: none; }
#landing-search .tags-list li:last-child    { margin-right: 0; }
#landing-search .categories-list            { padding: 0; list-style: none; }
#landing-search .categories-list li         { display: inline-block; margin-right: 60px; }
#landing-search .categories-list li:last-child          { margin-right: 0; }

/********************************
    Admin Login Styles
********************************/
#login-form                                 { margin-top: 200px; padding: 30px; border: 1px solid #ccc; border-radius: 5px; box-shadow: 0 0 1px rgba(0,0,0,0.15), 0 1px 15px rgba(0,0,0,0.3); }

/********************************
    Admin Form Styles
********************************/
form                                        { overflow: hidden; }
.admin .form-control,
.admin input                                { height: 40px; padding: 10px 30px 10px 14px; font-size: 12px; color: #666; border: 1px solid #dfe1e3; border-radius: 4px; }
.form-group                                 { margin-bottom: 20px; }
.form-group > label                         { margin-bottom: 15px; }
.search-form                                { margin-bottom: 20px; position: relative; }
.search-form .glyphicon                     { position: absolute; right: 15px; top: 11px; color: #ccc; }

/********************************
    Admin Tables Styles
********************************/
.table-header                               { margin-top: 20px; }
.table > tbody > tr > td                    { height: 45px; line-height: 29px; color: #666; }
.table > tbody > tr > td img                { margin-right: 10px; }
.table > tbody > tr > td > a                { display: block; height: 29px; font-weight: 500; color: #666; }
.btn                                        { margin-left: 10px; padding: 9px 15px; font-size: 11px; font-weight: 300; text-transform: uppercase; }
.btn:first-child                            { margin-left: 0; }

/********************************
    Admin Header Styles
********************************/
.navbar                                     { min-height: 55px; border: none; border-bottom: 1px solid rgba(0,0,0,0.05); border-radius: 0; }
.navbar-default                             { background-color: #f2f2f2; }
.navbar-brand                               { height: 55px; line-height: 25px; }
.navbar-brand img                           { max-width: 100%; max-height: 100%; }
.navbar-nav > li > a                        { height: 55px; line-height: 25px; }
.menu-avatar                                { margin-right: 5px; position: relative; top: -2px; }
.admin h3                                   { margin: 0; margin-bottom: 15px; font-size: 16px; font-weight: 600; color: #a1a1a1; }
.view-controls > .btn                       { margin-left: 10px; }

/********************************
    Admin Users Styles
********************************/
span.user-label                             { padding: 6px 8px; background-color: #eee; font-size: 10px; font-weight: 400; line-height: 1; text-transform: uppercase; color: rgba(255,255,255,0.8); }
span.label-super                            { background-color: #242628; }
span.label-admin                            { background-color: #5ba4e5; }
span.label-editor                           { background-color: #5be5aa; }
span.label-author                           { background-color: #e55b5b; }
.profile-container                          { margin-top: 20px; background-color: #fff; }
.profile-container .user-avatar             { width: 20%; position: relative; left: 30px; top: -100px; }
.profile-container .password-form           { margin-top: 40px; padding-top: 30px; border-top: 1px solid rgba(0,0,0,0.1); }
.profile-container .details-container       { position: relative; top: -90px; }