@import url( 'bower_components/bootstrap/less/bootstrap.less' );

/********************************
    General Styles
********************************/
body                            { margin: 0; }

/********************************
    Admin Login Styles
********************************/
#login-form                     { margin-top: 200px; padding: 30px; border: 1px solid #ccc; border-radius: 5px; box-shadow: 0 0 1px rgba(0,0,0,0.15), 0 1px 15px rgba(0,0,0,0.3); }