.breadcrumb-container
    .container-fluid
        .row
            .col-md-7.col-xs-12.col-sm-12
                breadcrumb
section#developers-banner
    .container-fluid
        .row
            .col-md-12
                img( src="img/ic-developers.png" )
                h1 Desarrolladores
                p Lorem ipsum dolor sit amet seclarum instardom
.container-fluid
    .row
        .col-md-12
            