---
layout: default
---

<section class="apps">
  <div class="main-container">
    <div class="cols-12">
      <div class="col col-2">
        <div class="col-inner">
          {% include apps-sidebar.html %}
        </div>
      </div>
      <div class="col col-10">
        <div class="col-inner">

          <div class="app-detail-page">
            <div class="app-screenshots-slider">
              <div class="slider-pager">
                <div class="slider-button prev"></div>
                <div class="slider-button next"></div>
              </div>
              <div class="slider">
                {% for screen in page.screenshots %}
                  <div class="app-screen-slide" style="background-image: url('{{ site.url | append: site.baseurl }}/assets/images/{{ screen }}');"></div>
                {% endfor %}
              </div>
            </div>
            <div class="app-main">
              <div class="cols-12">
                <div class="col col-9 alpha">
                  <div class="col-inner">
                    <div class="app-content">
                      <h2 class="app-name">{{ page.title }}</h2>
                      {{ content }}
                      {% include share-buttons.html %}
                    </div>
                  </div>
                </div>
                <div class="col col-3 omega">
                  <div class="col-inner">
                    <div class="app-sidebar">
                      {% if page.links %}
                        <div class="app-use-buttons">
                          {% if page.links.appleStore %}
                            <a class="store-button" href="{{ page.links.appleStore }}" title="{{ page.title }} en la App Store" target="_blank">
                              <div class="icon">
                                <img src="/assets/svg/icon-apple.svg" alt="">
                              </div>
                              <span>Disponible en</span>
                              <strong>App Store</strong>
                            </a>
                          {% endif %}

                          {% if page.links.playStore %}
                            <a class="store-button" href="{{ page.links.playStore }}" title="{{ page.title }} en Google Play" target="_blank">
                              <div class="icon">
                                <img src="/assets/svg/icon-android.svg" alt="">
                              </div>
                              <span>Disponible en</span>
                              <strong>Google Play</strong>
                            </a>
                          {% endif %}

                          {% if page.links.web %}
                            <a class="store-button web-button" href="{{ page.links.web }}" title="{{ page.title }} aplicación web" target="_blank">
                              <div class="icon">
                                <img src="/assets/svg/icon-web-white.svg" alt="">
                              </div>
                              <span>Disponible en</span>
                              <strong>Aplicación Web</strong>
                            </a>
                          {% endif %}
                        </div>
                      {% endif %}
                      <div class="app-meta-data">
                        {% if page.app_author %}
                          <div class="meta-data">
                            <h6>Autor</h6>
                            <p>{{ page.app_author }}</p>
                          </div>
                        {% endif %}

                        {% if page.datasets %}
                          <div class="meta-data">
                            <h6>Conjuntos de datos utilizados</h6>
                            <ul class="app-datasets-list">
                              {% for dataset in page.datasets %}
                                <li>
                                  {% if dataset.url %}
                                    <a href="{{ dataset.url }}" title="{{ dataset.title }}" target="_blank">{{ dataset.title }}</a>
                                  {% else %}
                                    <p>{{ dataset.title }}</p>
                                  {% endif %}
                                </li>
                              {% endfor %}
                            </ul>
                          </div>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="recent-apps">
            <h4 class="recent-apps-title">Apps recientes</h4>
            <div class="entities-list-cards" role="list" aria-label="Apps recientes">
              {% assign apps_posts = site.posts | where: 'section', 'apps' | where: 'published', true %}
              {% for post in apps_posts limit:4 %}
                <div class="col col-6 {% cycle 'alpha', 'omega' %}" role="listitem">
                  <div class="col-inner">
                    {% include entity-card.html post=post showAuthor=false showCategory=true %}
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
