---
layout: default
---

{% include apps_header.html highlight='all' %}
<div class="container-fluid app-item">
    <div class="row equal-height">
        <div id="dgm-sidebar" class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            {% include sidebar.html highlight='all' %}
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 posts-container">
            <section id="app-header" class="container-fluid">
                <div class="row">
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                        <h1>{{ page.title }}</h1>
                        <h6>{{ page.app_author }}</h6>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <img src="{{ "/assets/img/" | append: page.section | append: '/' | append: page.screenshots[0] | prepend: site.baseurl }}">
                    </div>
                </div>
                <div class="app-buttons">
                    {% if page.links.appleStore %}
                        <a href="{{ page.links.appleStore }}" class="app-link apple">Disponible en<span>App Store</span></a>
                    {% endif %}
                    {% if page.links.appleStore %}
                        <a href="{{ page.links.playStore }}" class="app-link android">Disponible en<span>Android Market</span></a>
                    {% endif %}
                </div>
            </section>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 share-section">
                        {% include share_buttons.html %}
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        {{ content }}
                        <h5 class="app-subtitle">Conjuntos de datos utilizados</h5>
                        <ul class="datasets-list">
                            {% for dataset in page.datasets %}
                                <li><a href="{{ dataset.url }}">{{ dataset.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h5 class="app-subtitle">Más herramientas</h5>
                    </div>
                    {% assign posts = site.posts | where: 'sub_section', 'apps' | where: 'published', true | sort: 'date' %}
                    {% assign i = 0 %}
                        <div class="row">
                            {% for post in posts limit:4 %}
                                {% assign i = i | plus: 1 %}
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 app-item">
                                    <div class="inner">
                                        <a href="{{ post.permalink }}"><img src="{{ "/assets/img/" | append: post.section | append: '/' | append: post.cover | prepend: site.baseurl }}"></a>
                                        <div class="info">
                                            <h5>{{ post.title }}</h5>
                                            <div class="links-container">
                                                {% if post.links.webLink %}
                                                    <a href="{{ post.links.webLink }}" class="app-links web" alt="Web">Web</a>
                                                {% endif %}
                                                {% if post.links.appleStore %}
                                                    <a href="{{ post.links.appleStore }}" class="app-links apple"></a>
                                                {% endif %}
                                                {% if post.links.appleStore %}
                                                    <a href="{{ post.links.playStore }}" class="app-links android"></a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>