---
layout: default
---

<main id="main-content" class="guide">
    <div class="container-fluid">
        <div id="title-section" class="row">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                <h1 role="presentation"><a href="{{ site.url | append : site.baseurl }}" class="info-title" tabindex="-1">Guía</a></h1>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 breadcrumb">
                {% include breadcrumb.html %}
            </div>
        </div>
        <div class="row">
            {% include guide-sidebar.html %}
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                {{ content }}
            </div>
        </div>
    </div>
</main>