---
layout: default
---

<article class="page">
  <div class="main-container">
    <div class="cols-12">
      <div class="col col-1"></div>
      <div class="col col-2">
        <div class="col-inner">
          <div class="page-icon">
            <i class="i {{ page.icon }}" role="presentation" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <div class="col col-8">
        <div class="col-inner">
          <header class="title">
            <h1 class="green-title">{{ page.title }}</h1>
            {% if page.description %}
              <p>{{ page.description }}</p>
            {% endif %}
          </header>
          {{ content }}
        </div>
      </div>
    </div>
  </div>
</article>