---
layout: default
---

<div class="post {{ page.category }}">
  <div class="post-cover-photo" style="background-image: url('{{ site.url | append: site.baseurl }}/assets/images/{{ page.cover_photo }}');">
  </div>
  <div class="post-main">
    <div class="main-container">
      <div class="cols-12">
        <div class="col col-8">
          <div class="col-inner">
            <div class="post-main-inner">
              <div class="breadcrumbs">
                <a href="{{ site.url | append: site.baseurl }}{{ page.section }}">{{ page.section }}</a> /
                <a href="{{ site.url | append: site.baseurl }}{{ page.section }}/{{ page.category }}">{{ page.category }}</a>
              </div>
              <h1 class="post-title">{{ page.title }}</h1>
              <span class="post-author">{{ page.author }}</span>
              {% if page.tags.size > 0 %}
                <div class="post-tags">
                  {% for tag in page.tags %}
                    <span>
                      {{tag}}
                      {% unless forloop.length == forloop.index %}, {% endunless %}
                    </span>
                  {% endfor %}
                </div>
              {% endif %}
              <article class="post-content">
                {{ content }}
              </article>
            </div>
          </div>
        </div>
        <div class="col col-4">
          <div class="col-inner">
            <div class="post-sidebar">
              <div class="sidebar-box post-datasets">
                <h6>Conjuntos de datos utilizados</h6>
                <ul class="datasets-list">
                  {% for dataset in page.datasets %}
                    <li>
                      <span>&#65515;</span>
                      <a href="{{ dataset.url }}" title="{{ dataset.title }}" target="_blank"> {{ dataset.title }}</a>
                    </li>
                  {% endfor %}
                </ul>
              </div>

              {% if page.similar_datasets %}
                <div class="sidebar-box post-datasets">
                  <h6>Otras fuentes</h6>
                  <ul class="datasets-list">
                    {% for dataset in page.similar_datasets %}
                      <li>
                        <span>&#65515;</span>
                        <a href="{{ dataset.url }}" title="{{ dataset.title }}" target="_blank"> {{ dataset.title }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              {% endif %}

              {% if page.collaborators %}
                <div class="sidebar-box collaborators">
                  <h6>Colaboradores</h6>
                  {% for collaborator in page.collaborators %}
                    <div class="collaborator">
                      {% assign institution = site.collaborators[collaborator] %}
                      {% if institution.site == "" %}
                        <img src="{{ site.url | append: site.baseurl }}assets/images/collaborators/{{ institution.logo_url }}" alt="{{ institution.title }}">
                      {% else %}
                        <a href="{{ institution.site }}" title="{{ institution.title }}" target="_blank">
                          <img src="{{ site.url | append: site.baseurl }}assets/images/collaborators/{{ institution.logo_url }}" alt="{{ institution.title }}">
                        </a>
                      {% endif %}
                    </div>
                  {% endfor %}
                </div>
              {% endif %}

            </div>
          </div>
        </div>
      </div>

      <div class="cols-12">
        <div class="col col-9">
          <div class="col-inner">
            {% include share-buttons.html %}
            {% include disqus-comments.html %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
