---
layout: default
---

<section>
    <p class="cover-image">
        <img src="{{ "/assets/img/" | append: page.section | append: '/' | append: page.cover_photo | prepend: site.baseurl | prepend: site.url }}">
    </p>
</section>
<div class="container-fluid fixed post">
    <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
        {% include breadcrumb.html %}
        <h1>{{ page.title }}</h1>
        <p class="small">{{ page.date | date: '%d %B, %Y' }}</p>
        {% if page.author %}
            <p class="author"><i>{{ page.author }}</i></p>
        {% else %}
            <p class="author"><i>Presidencia</i></p>
        {% endif %}
        {{ content }}
        {% include share_buttons.html %}
        <div class="hidden-sm hidden-xs">
            {% include disqus_comments.html %}
        </div>
    </div>
    {% if page.datasets %}
        <div class="col-lg-4 col-md-4 col-lg-offset-1 col-md-offset-1 hidden-sm hidden-xs post-datasets">
            <h5>Conjuntos de datos utilizados</h5>
            <ul class="datasets-list">
                {% for dataset in page.datasets %}
                    <li><a href="{{ dataset.url }}">{{ dataset.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
</div>