---
layout: default
---

<div class="post {{ page.category }}">
  <div class="post-cover-photo" style="background-image: url('{{ site.url | append: site.baseurl }}/assets/images/{{ page.cover_photo }}');">
    <div class="fake-half"></div>
  </div>
  <div class="post-main">
    <div class="main-container">
      <div class="cols-12">
        <div class="col col-9">
          <div class="col-inner">
            <div class="post-main-inner">
              <div class="breadcrumbs">
                <a href="{{ site.url | append: site.baseurl }}{{ page.section }}">{{ page.section }}</a>
              </div>
              <h1 class="post-title">{{ page.title }}</h1>
              <div class="post-tags">
                {% for tag in page.tags %}
                  <span>
                    {{tag}}
                    {% unless forloop.length == forloop.index %}, {% endunless %}
                  </span>
                {% endfor %}
              </div>
              <article class="post-content">
                {{ content }}
              </article>
            </div>
          </div>
        </div>
        <div class="col col-3">
        </div>
      </div>
      <div class="cols-12">
        <div class="col col-9">
          <div class="col-inner">
            {% include share-buttons.html %}
            {% include disqus-comments.html %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
