.tools-list {
  .tool-box {
    margin-bottom: 20px;

    .tool-cover {
      height: 200px;
    }

    .tool-main {
      padding: 10px;
      height: 120px;
      position: relative;
    }

    .tool-meta {
      position: absolute;
      bottom: 20px;
      left: 20px;
    }
  }
}

.tools-content {
  @extend .stories-content;
}

.post .post-main.clear-iframe {
  margin: 40px 0;

  .post-main-inner {
    padding: 0;
  }
}

