.row.admin-controls
    div.col-md-8
        h3( ng-if="$state.is( 'users.list' )" ) Usuarios
        h3( ng-if="$state.is( 'users.create' )" ) Crear Usuario
        h3( ng-if="$state.is( 'users.details' )" ) Detalles Usuario
    div.col-md-4.view-controls
        a.btn.btn-success.pull-right( ui-sref="users.create" ng-if="$state.is( 'users.list' )" ) Crear Usuario
        button.btn.btn-info.pull-right( ng-click="update()" ng-if="$state.is( 'users.details' )" ) Guardar
        button.btn.btn-danger.pull-right( ng-click="remove()" ng-if="$state.is( 'users.details' )" ) Eliminar
        a.btn.btn-default.pull-right( ui-sref="users.list" ng-if="$state.is( 'users.details' )" ) Atras
div( ui-view="users-main" )