.row
    .col-md-6.col-md-offset-3
        form( name="postForm" novalidate ng-submit="create()" )
            .form-group#post-form
                label( for="name" ) Nombre
                input.form-control( type="text" name="name" placeholder="Nombre" ng-model="new_user.name" required)
            .form-group#post-form
                label( for="email" ) Correo electr칩nico
                input.form-control( type="email" name="email" placeholder="Correo electr칩nico" ng-model="new_user.email" required)
            .form-group#post-form
                label( for="pass" ) Contrase침a
                input.form-control( type="text" name="pass" placeholder="Contrase침a" ng-model="new_user.pass" required)
            .form-group
                label( for="type" ) Tipo
                select.form-control( name="type" ng-model="new_user.type" required)
                    option( value="" ) Seleccionar tipo...
                    option( value="0" ) Superadministrador
                    option( value="1" ) Administrador
                    option( value="2" ) Editor
                    option( value="3" ) Autor
            button.btn.btn-success.pull-right( type="submit" ) Crear
            a.btn.btn-default.pull-right( ui-sref="users.list" ) Cancelar
