.row
    .col-md-12
        div.row.table-header
            div.col-md-3.col-md-offset-9
                form.search-form
                    input.form-control( type="text" placeholder="Buscar" )
                    i.glyphicon.glyphicon-search
        table.table.table-striped
            thead
                tr
                    th Usuario
                    th( width="35%" ) Email
                    th( width="15%" ) Fecha de creación
                    th( width="8%" ) Tipo
            tbody
                tr( ng-repeat="user in users" )
                    td
                        a( ui-sref="users.details({ id : user._id })" alt="{{ user.name }}" )
                            img( src="img/ic_avatar.png" alt="{{ user.name }}" )
                            | {{ user.name }}
                    td {{ user.email }}
                    td {{ user.creation_date | date : 'dd-MM-yyyy' }}
                    td.text-center
                        span.user-label.label-super( ng-if="user.type == 0" ) Superadmin
                        span.user-label.label-admin( ng-if="user.type == 1" ) Administrador
                        span.user-label.label-editor( ng-if="user.type == 2" ) Editor
                        span.user-label.label-author( ng-if="user.type == 3" ) Autor
        p.text-center
            uib-pagination( max-size="10" boundary-links="true" boundary-link-numbers="true" rotate="true" total-items="total" items-per-page="per_page" previous-text!="&lsaquo;" next-text!="&rsaquo;" first-text!="&laquo;" last-text!="&raquo;" ng-model="page" ng-change="query()" )