// Single App Detail
.app-detail-page {
  .app-content {
    p {
      @include text-size-regular;
    }
  }

  .share-section h5 {
    @include text-size-regular;
  }

  .app-use-buttons {
    .store-button {
      @extend .btn-green;
      box-shadow: inset 0 -3px 0 rgba(0,0,0,.25);
      color: $white-color !important;

      &:hover {
        background-color: darken($base-color, 5%); 
      }
      
      span {
        font-size: 12px;
      }

      strong {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 14px;
      }

      .icon {
        text-align: center;
      }
    }
  }

  .app-meta-data {
    .meta-data {
      @include text-size-small;

      p {
        @include text-size-small;
      }
    }
  }

  .app-datasets-list {
    list-style: none;

    p, a {
      @include text-size-small;
    }
  }
}

.app-screenshots-slider {
  .slider-button {
    > a {
      background-color: #000;
      background-color: rgba(0, 0, 0, .5);
      border-radius: 4px;
      background-repeat: no-repeat;
      background-position: center center;
      @include transition(background-color, .15s, ease);

      &:hover {
        background-color: #000;
      }
    }

    &.prev a {
      background-image: url('../assets/svg/arrow-left-white.svg');
    }

    &.next a {
      background-image: url('../assets/svg/arrow-right-white.svg');
    }
  }

  .app-screen-slide {
    background-color: #F1F1F1;
    @include contain-background;
  }
}