.row.admin-controls
    .col-md-8
        h3 Exportar Contenido
    .col-md-4
        button.btn.btn-success.pull-right( ng-click="export()" ) Exportar
.row
    .col-md-8.col-md-offset-2.customizer
        .row
            .col-md-4
                h1 Posts
                h4 Estatus
                .checkbox
                    label
                        input( type="checkbox" value="true" checked="checked" ng-model="filters.posts.published" )
                        | Publicados
                .checkbox
                    label
                        input( type="checkbox" value="true" checked="checked" ng-model="filters.posts.drafts" )
                        | Borradores
                .checkbox
                    label
                        input( type="checkbox" value="true" checked="checked" ng-model="filters.posts.archived" )
                        | Archivados
            .col-md-4
                h1 Categorías
                h4 Tipos
                .checkbox
                    label
                        input( type="checkbox" value="true" checked="checked" ng-model="filters.categories.sections" )
                        | Secciones
                .checkbox
                    label
                        input( type="checkbox" value="true" checked="checked" ng-model="filters.categories.categories" )
                        | Categorías
                .checkbox
                    label
                        input( type="checkbox" value="true" checked="checked" ng-model="filters.categories.tags" )
                        | Tags
            .col-md-4
                h1 Usuarios
                h4 Nivel de Acceso
                .checkbox
                    label
                        input( type="checkbox" value="true" checked="checked" ng-model="filters.users.super" )
                        | Super Administrador
                .checkbox
                    label
                        input( type="checkbox" value="true" checked="checked" ng-model="filters.users.admin" )
                        | Administrador
                .checkbox
                    label
                        input( type="checkbox" value="true" checked="checked" ng-model="filters.users.editor" )
                        | Editor
                .checkbox
                    label
                        input( type="checkbox" value="true" checked="checked" ng-model="filters.users.author" )
                        | Autor
        .callout.callout-warning
            h4 Cosideraciones Especiales
            p En caso de no incluir usuarios y/o secciones en los datos a exportar los artículos deberán ser editados uno a uno referenciar correctamente dichos campos.