nav.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .navbar-header
      button.navbar-toggle.collapsed( type="button" data-toggle="collapse" data-target="admin-menu" aria-expanded="false" )
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand( ui-sref="admin" )
      img( src="img/ic_logo.png" alt="datos.gob.mx" )
    div#admin-menu.collapse.navbar-collapse
      ul.nav.navbar-nav
        li( ng-class="{active:$state.is('admin')}" )
          a( ui-sref="admin" )
            i.icon-home
            |  Inicio
        li( ng-class="{active:$state.includes('posts')}" )
          a( ui-sref="posts.list" )
            i.icon-doc-text-inv
            |  Contenido
        li( ng-class="{active:$state.includes('categories')}" )
          a( ui-sref="categories.list" )
            i.icon-tags
            |  Categorías
        li( ng-class="{active:$state.includes('users')}" )
          a( ui-sref="users.list" )
            i.icon-users
            |  Usuarios
        li( ng-class="{active:$state.includes('datasets')}" )
          a( ui-sref="datasets.list" )
            i.icon-box
            |  Datasets
        li( ng-class="{active:$state.includes('apis')}" )
          a( ui-sref="apis.list" )
            i.icon-box
            |  Apis
        li( ng-class="{active:$state.includes('visualizers')}" )
          a( ui-sref="visualizers.list" )
            i.icon-box
            |  Visualizaciones
        li( ng-class="{active:$state.includes('settings')}" )
          a( ui-sref="settings.edit" )
            i.icon-box
            |  Ajustes
      ul.nav.navbar-nav.navbar-right
        li.dropdown
          a.dropdown-toggle( href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" )
            i.glyphicon.glyphicon-cog
          ul.dropdown-menu
            li
              a( ui-sref="export" )
                i.glyphicon.glyphicon-save
                | Exportar
            li
              a( ui-sref="import" )
                i.glyphicon.glyphicon-open
                | Importar
        li.dropdown
          a.dropdown-toggle( href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" )
            img( class="menu-avatar" src="img/ic_avatar.png" alt="{{ user.name }}" )
            | {{ user.name }}
            span.caret
          ul.dropdown-menu
            li
              a( ui-sref="admin-logout" )
                i.glyphicon.glyphicon-log-out
                | Cerrar Sesión
div.container-fluid( ui-view="admin-main" )
