#login-form.col-md-4.col-sm-6.col-md-offset-4.col-sm-offset-3
    .logo.text-center
        img(src="img/logo-datos.svg", alt="Logo de datos")
    source
    form( ng-submit="login()" )
        .form-group
            label( for="email" ) Correo Electrónico
            input( type="email" name="email" placeholder="Correo electrónico" ng-model="session.email" ).form-control
        .form-group
            label( for="pass" ) Contraseña
            input( type="password" name="pass" placeholder="Contraseña" ng-model="session.pass" ).form-control
        button.btn.btn-primary.pull-right( type="submit" ) Iniciar Sesión
