.row
    .col-sm-12.col-md-8.col-md-offset-2
        h1 Imagen de banner
        .cover-photo-upload.category( data-config="configCover" data-img="setting.cover_photo" file-uploader ng-class="{uploaded: setting.cover_photo}" )
