---
layout: default
body_class: progress
title: Avances → Electrodomésticos
permalink: /avances/electrodomesticos/

active: electrodomesticos
progress_category: true
order: 4
category_info:
  name: electrodomesticos
  title: Electrodomésticos
---

{% include page-title.html title=page.title %}  

<div class="{{ page.body_class }}">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-10">
        <div class="col-inner">
          <div class="progress-posts-list">{% assign stories = site.posts | where: 'section', 'avances' | where: 'category', 'electrodomesticos' %}
            {% for post in stories %}
              {% include progress-post.html post=post %}
            {% endfor %}
          </div>  
        </div>
      </div>
      <div class="col col-2">
        <div class="col-inner">
          {% include progress-nav.html %}
        </div>
      </div>
    </div>
  </div>
</div>