.datasets {
  margin: 30px 0 50px 0;
}

.datasets-navbar {
  margin-bottom: 35px;

  .datasets-breadcrumbs {
    display: block;
    float: left; 
    @include clearfix;

    li {
      float: left;
    }

    .divider {
      padding-left: 5px;
    }
  }

  .nav-list {
    display: block;
    float: right;
    padding: 0;
    margin: 0;
    @include clearfix;

    li {
      float: left;

      a {
        display: block;
        padding: 0 20px 10px 20px;
      }
    }
  }
}

.datasets-heading {
  padding: 40px 0;
  margin-bottom: 35px;

  .search-datasets {
    padding-right: 20px;

    input {
      display: block;
      width: 100%;
      height: 35px;
      padding: 0 10px;
    }
  }

  .datesets-categories {
    clear: both;
    display: block;
    margin: 0;
    padding: 0;
    margin-top: 30px;
    @include clearfix;

    li {
      float: left;
      padding-left: 50px;

      &:first-child {
        padding-left: 0;
      }

      img {
        width: 30px;
        height: 30px;
      }
    }
  }
}

.context-filters {
  margin-bottom: 25px;

  .search {
    padding-right: 20px;

    input {
      display: block;
      width: 100%;
      height: 35px;
      padding: 0 10px;
    }
  }
}

.datasets-list {
  .dataset-item {
    margin-top: 20px;
    min-height: 110px;
    position: relative;
    display: block;

    &:first-child {
      margin-top: 0;
    }

    .dataset-trending-flag { 
      position: absolute;
      right: 19px;
      top: 10px;
    }

    .dataset-formats {
      position: absolute;
      bottom: 10px;
      right: 10px;
    }

    .dataset-main {
      padding: 20px;
      min-height: 110px;
      margin-right: 60px;
    }

    .dataset-meta-data {
      margin-top: 5px;
    }
  }
}

.dataset-format {
  width: 30px;
  padding: 2px 5px;
  height: 20px;
}

.alphabet-filter {
  margin-top: 30px; 

  > a {
    margin-right: 10px;
  }
}

.organizations-list {
  @include clearfix;

  .organization-item {
    width: (100/5) * 1%;
    float: left;

    .inner {
      padding: 10px;
    }

    a {
      display: block;
      height: 0px;
      overflow: hidden;
      padding-bottom: 100%;
    }

    img {
      max-width: 65%;
      margin-top: 50%;
      @include transform(translateY(-50%));
    }
  }
}

.single-organization {}

.organization-detail-card {
  .organization-logo {
    height: 0px;
    overflow: hidden;
    padding-bottom: 100%;

    img {
      max-width: 75%;
      margin-top: 50%;
      @include transform(translateY(-50%));
    }
  }

  .organization-desc {
    margin-top: 20px;
  }
}

// Detalle de un dataset
.dataset-detail {
  margin-top: 30px;

  .dataset-detail-excerpt {
    padding: 20px;
  }

  .dataset-resources-title {
    margin: 25px 10px 15px 20px;
  }
}

.dataset-resources-list {
  .resource-item {
    display: block;
    margin-top: 20px;
    position: relative;

    &:first-child { 
      margin-top: 0;
    }

    .resource-download {
      position: absolute;
      right: 30px;
      top: 50%;
      width: 35px;
      height: 35px;
      margin-top: -17px;
    }
    
    .resourse-format {
      position: absolute;
      right: 95px;
      top: 50%;
      margin-top: -10px;
    }

    .resource-main {
      padding: 20px;
      margin-right: 160px;
    }
  }
}