.datasets {
  margin: 30px 0 50px 0;
}

.datasets-navbar {
  .datasets-breadcrumbs {
    display: block;
    float: left; 
    @include clearfix;

    li {
      float: left;
    }

    .divider {
      padding-left: 5px;
    }
  }

  .nav-list {
    display: block;
    float: right;
    padding: 0;
    margin: 0;
    @include clearfix;

    li {
      float: left;

      a {
        display: block;
        padding: 0 20px 10px 20px;
      }
    }
  }
}

.datasets-heading {
  padding: 40px 0;
  margin-bottom: 35px;

  .search-datasets {
    padding-right: 20px;

    input {
      display: block;
      width: 100%;
      height: 35px;
      padding: 0 10px;
    }
  }

  .datesets-categories {
    clear: both;
    display: block;
    margin: 0;
    padding: 0;
    margin-top: 30px;
    @include clearfix;

    li {
      float: left;
      padding-left: 50px;

      &:first-child {
        padding-left: 0;
      }

      img {
        width: 30px;
        height: 30px;
      }
    }
  }
}

.datasets-list {
  .dataset-item {
    margin-top: 20px;
    min-height: 110px;
    position: relative;
    display: block;

    &:first-child {
      margin-top: 0;
    }

    .dataset-trending-flag { 
      position: absolute;
      right: 19px;
      top: 10px;
    }

    .dataset-formats {
      position: absolute;
      bottom: 10px;
      right: 10px;
    }

    .dataset-main {
      padding: 20px;
      min-height: 110px;
      margin-right: 60px;
    }

    .dataset-meta-data {
      margin-top: 5px;
    }
  }
}

.dataset-format {
  width: 30px;
  padding: 2px 5px;
}

.organizations-alphabet-filter {
  margin-top: 30px; 

  > a {
    margin-right: 10px;
  }
}

.organizations-list {
  @include clearfix;

  .organization-item {
    width: (100/5) * 1%;
    float: left;

    .inner {
      padding: 10px;
    }

    a {
      display: block;
      height: 0px;
      overflow: hidden;
      padding-bottom: 100%;
    }

    img {
      max-width: 75%;
      height: 60px;
      margin-top: 50%;
      @include transform(translateY(-50%));
    }
  }
}