.datasets-navbar {
  .datasets-breadcrumbs {
    list-style: none;
    
    li {
      @include text-size-small;
    }

    .divider {
      color: #999999;
    }
  }

  .nav-list {
    list-style: none;

    li {
      a {
        font-size: 14px;
        color: $gray-color;
        border-bottom: 4px solid $gray-color;
      }
    }
  }
}

.datasets-heading {
  background-color: $gray-light-background-color;

  .heading-title {
    color: $gray-color;
  }

  .search-datasets {
    input {
      font-size: 14px;
      color: #909090;
      border: 0;
      line-height: 18px;
    }
  }

  .datesets-categories {
    list-style: none;

    li {
      
    }
  }
}

.datasets-list {
  .dataset-item {
    background-color: #D7D7D7;

    &:hover {
      .title {
        color: $base-color;
      }
    }
    
    .dataset-main {
      background-color: #EEEEEE;
    }

    .title {
      font-size: 14px;
      text-transform: uppercase;

      a {
        color: $gray-color;

        &:hover {
          color: $base-color;
        }
      }
    }

    .dataset-excerpt p {
      @include text-size-regular;
    }

    .dataset-meta-data {
      color: $gray-color;
      @include text-size-small;
    }
  }
}

.dataset-format {
  color: $white-color;
  text-align: center;
  font-size: 13px;
  
  &.csv {
    background-color: #FFD100;
  }

  &.kml {
    background-color: #474747;
  }
}

.organizations-alphabet-filter {
  > a {
    color: $gray-color;
    font-size: 18px;
    font-weight: 600;
  }
}

.organizations-list {
  .organization-item {
    a {
      text-align: center;
      background-color: #EEEEEE;

      &:hover {
        background-color: darken(#EEEEEE, 5%);
      }
    }
  }
}

.single-organization {
  .organization-detail-card {
    .organization-logo {
      background-color: #EEEEEE;
      text-align: center;
    }

    .organization-desc p {
      @include text-size-small;
    }
  }
}