.container-fluid
    .row
        .col-md-12.page-404
            h2 Página no encontrada
            p Lo sentimos, la página a la que intentas accesar no existe o fue cambiada de sección.
            p.text-center
                a( ui-sref="landing" )
                    img( src="img/ic-404.png" )