.container-fluid
    .row
        .col-md-12.page-404
            h2 No encontramos lo que buscabas   :(
            p Sin embargo, te podemos ayudar. Escríbenos a <a href="mailto:escuadron@datos.mx">escuadron@datos.mx</a> o <a href="https://twitter.com/datosgobmx">@datosgobmx
