.breadcrumb-container
    .container-fluid
        .row
            .col-md-12
                breadcrumb
.video-container
    .container-fluid
        .row
            .col-md-6.col-md-offset-3
                .video
                    iframe( src="https://www.youtube.com/embed/SpPzJ3p_Uio" allowfullscreen )
.container-fluid
    .row
        .col-md-8.post
            .content( ng-bind-html="content" )