.breadcrumb-container
     .container-fluid
         .row
             .col-md-12
                 breadcrumb
 .container-fluid
     .row
         .col-md-8.post
             .content( ng-bind-html="content" )
