section#landing-search( ui-view="landing-search" )
section#landing-data( ui-view="landing-data" )
section#landing-tools( ui-view="landing-tools" )
section#landing-blog( ui-view="landing-blog" )
section#landing-subscribe( ui-view="landing-subscribe" )