section#landing-search( ui-view="landing-search" style="background: url({{ imageLanding.cover_photo.path }}) center center no-repeat; background-size: cover; text-align: center; color: rgba(255,255,255,0.9); position: relative;" )
section#landing-data.section-data( ui-view="landing-data" )
section#landing-blog( ui-view="landing-blog" data-section="blog" )
section#landing-visualizers( ui-view="landing-visualizers" data-section="visualizaciones" ng-if="visualizerPublish !== 'undefined' && visualizerPublish == true"  )
section#landing-tools( ui-view="landing-tools" data-section="herramientas" )
section#landing-subscribe( ui-view="landing-subscribe" )
