section#landing-search( ui-view="landing-search" )
section#landing-data.section-data( ui-view="landing-data" )
section#landing-blog( ui-view="landing-blog" data-section="blog" )
section#landing-tools( ui-view="landing-tools" data-section="herramientas" )
section#landing-subscribe( ui-view="landing-subscribe" )
#site-functionality
    p
        | Conoce las nuevas functionalidades 
        a( href="#" ) aquí
    button( type="button" class="close" aria-label="Close" )
        span( aria-hidden="true" ) &times;