section#landing-search( ui-view="landing-search" )
section#landing-data.section-data( ui-view="landing-data" )
section#landing-tools( ui-view="landing-tools" data-section="herramientas" )
section#landing-blog( ui-view="landing-blog" data-section="blog" )
section#landing-subscribe( ui-view="landing-subscribe" )