.container-fluid
    .row
        .col-md-12
            h2 Herramientas
            .row.posts-row
                .col-md-4.post-item
                    .inner
                        img( src="img/img-tool.png" )
                        .overlay
                            h3 
                                a( href="#" ) Se activan datos abiertos de frente frio
                            p.author Estrategia digital nacional
                            a.read-more( href="#" ) 
                                | Leer más
                                .arrow-tip
                            a.tag( href="#" )
                                span.tag-icon.tag-economy
                                span.link Economía
                            p.category Web
                .col-md-4.post-item
                    .inner
                        img( src="img/img-tool.png" )
                        .overlay
                            h3 
                                a( href="#" ) Se activan datos abiertos de frente frio
                            p.author Estrategia digital nacional
                            a.read-more( href="#" ) 
                                | Leer más
                                .arrow-tip
                            a.tag( href="#" )
                                span.tag-icon.tag-economy
                                span.link Economía
                            p.category Web
                .col-md-4.post-item
                    .inner
                        img( src="img/img-tool.png" )
                        .overlay
                            h3 
                                a( href="#" ) Se activan datos abiertos de frente frio
                            p.author Estrategia digital nacional
                            a.read-more( href="#" ) 
                                | Leer más
                                .arrow-tip
                            a.tag( href="#" )
                                span.tag-icon.tag-economy
                                span.link Economía
                            p.category Web
            .row.posts-row
                .col-md-8.post-item.featured
                    .inner
                        img( src="img/img-tool-featured.png" )
                        .overlay
                            h3 
                                a( href="#" ) Datos abiertos para prevenir accidentes viales: Torreón
                            p.author Ing. Guillermo Valdés Lozano, IMPLAN Torreón
                            a.read-more( href="#" ) 
                                | Leer más
                                .arrow-tip
                            a.tag( href="#" )
                                span.tag-icon.tag-infrastructure
                                span.link Infraestructura
                            p.category Web
                .col-md-4.post-item
                    .inner
                        img( src="img/img-tool.png" )
                        .overlay
                            h3 
                                a( href="#" ) Se activan datos abiertos de frente frio
                            p.author Estrategia digital nacional
                            a.read-more( href="#" ) 
                                | Leer más
                                .arrow-tip
                            a.tag( href="#" )
                                span.tag-icon.tag-economy
                                span.link Economía
                            p.category Web