span.copyright-banner
    a( href="http://cmgs.gob.mx:8080/mosaicoNacional/webForm1.aspx" ) CC BY SIAP
.container-fluid
    .row
        .col-md-12
            h3 Descubre <strong>Datos Abiertos</strong> de tu gobierno.
            p más de 18,500 datos de 222 instituciones
            .row
                .col-md-8.col-md-offset-2
                    form.search-form.form-inline.hidden-xs.hidden-sm( ng-submit="search()" )
                        input.form-control( type="text" name="keyword" placeholder="Ej. Centros educativos" ng-model="keyword" )
                        select.form-control( name="category" ng-model="category" custom-select )
                                option( value="" ) Todas las categorias
                                option( value="salud" ) Salud
                                option( value="geoespacial" ) Geoespacial
                                option( value="seguridad-y-justicia" ) Seguridad y justicia
                                option( value="energia-y-medio-ambiente" ) Energía y medio ambiente
                                option( value="educacion" ) Educación
                                option( value="economia" ) Economía
                                option( value="cultura-y-turismo" ) Cultura y turismo
                                option( value="finanzas-y-contrataciones" ) Finanzas y contrataciones
                                option( value="infraestructura" ) Infraestructura
                                option( value="desarrollo-sostenible" ) Desarrollo sostenible
                                option( value="gobiernos-locales" ) Gobiernos locales
                        button.btn.btn-primary( type="submit" ) Buscar
                    form.search-form.form-inline.hidden-md.hidden-lg( ng-submit="search()" )
                        input.form-control( type="text" name="keyword" placeholder="Ej. Centros educativos" ng-model="keyword" )
                        button.btn.btn-primary( type="submit" )
                            i.glyphicon.glyphicon-search
            ul.categories-list.hidden-sm.hidden-xs
                li( ng-repeat="tag in tags" )
                    a( ui-sref="category.details({ category : tag.slug })" alt="{{ tag.name }}" uib-tooltip="{{ tag.name }}" )
                        img( src="img/ic-{{ tag.slug }}.png" alt="{{ tag.name }}" )
