.container-fluid
    .row
        .col-md-4.col-xs-12.col-sm-12
            h4 Suscríbete al boletín mensual
            form( action="//gob.us9.list-manage.com/subscribe/post-json?u=2128f25c973f219e1b51af623&id=99ced13731&c=?" method="get" ng-submit="subscribe( $event )" )
                .form-group
                    input.form-control( type="text" name="NAME" placeholder="Nombre" ng-model="name" )
                .form-group
                    input.form-control( type="email" name="EMAIL" placeholder="Correo electrónico" ng-model="email" )
                button.btn.btn-primary( type="submit" ) Enviar
        .col-md-4.col-xs-12.col-sm-12
            h4 Recibe actualizaciones en tiempo real
            p 
                a( href="http://datos.gob.mx/busca/feeds/dataset.atom" target="_blank" alt="RSS" ) Aquí
                |  puedes seguir nuevos datos y actualizaciones
            a.social-icon.social-rss( href="http://datos.gob.mx/busca/feeds/dataset.atom" target="_blank" alt="RSS" )
        .col-md-4.col-xs-12.col-sm-12
            h4 Síguenos en redes sociales
            p Entérate de lo último, resuelve tus dudas e interactúa con otros usuarios de datos
            ul.social-links
                li
                    a.social-icon.social-facebook( href="http://facebook.com/datosgobmx" target="_blank" )
                li
                    a.social-icon.social-twitter( href="http://twitter.com/datosgobmx" target="_blank" )
                li
                    a.social-icon.social-github( href="http://github.com/mxabierto" target="_blank" )