.container-fluid
    .row
        .col-md-12
            h3 Descubre <strong>Datos Abiertos</strong> de tu gobierno.
            p Más de 11,000 datos de 200 instituciones
            .row
                .col-md-6.col-md-offset-3
                    form.search-form.form-inline( ng-submit="search()" )
                        input.form-control( type="text" name="keyword" placeholder="Ej. Licitaciones Petroleras" ng-model="keyword" )
                        div.custom-select
                            select.form-control( name="category" ng-model="category" )
                                option( value="" ) Todas las categorias
                                option( value="salud" ) Salud
                                option( value="geoespacial" ) Geoespacial
                                option( value="seguridad-y-justicia" ) Seguridad y justicia
                                option( value="energia-y-medio-ambiente" ) Energía y medio ambiente
                                option( value="educacion" ) Educación
                                option( value="economia" ) Economía
                                option( value="cultura-y-turismo" ) Cultura y turismo
                                option( value="finanzas-y-contrataciones" ) Finanzas y contrataciones
                                option( value="infraestructura" ) Infraestructura
                                option( value="desarrollo-sostenible" ) Desarrollo sostenible
                                option( value="gobiernos-locales" ) Gobiernos locales
                                option( value="otros" ) Otros
                        button.btn.btn-primary( type="submit" ) Buscar
                    p.shadow Etiquetas populares
                    ul.tags-list
                        li 
                            a( href="//busca.datos.gob.mx/#!/conjuntos/?categoria=salud" target="_blank" ) Salud
                        li 
                            a( href="//busca.datos.gob.mx/#!/conjuntos/?categoria=finanzas-y-contrataciones" target="_blank" ) Finanzas y Contrataciones
                        li
                            a( href="//busca.datos.gob.mx/#!/conjuntos/?categoria=seguridad y justicia" target="_blank" ) Seguridad y Justicia
                        li
                            a( href="//busca.datos.gob.mx/#!/conjuntos/?categoria=infraestructura" target="_blank" ) Infraestructura
            ul.categories-list
                li( ng-repeat="tag in tags" )
                    a( ui-sref="category.details({ category : tag.slug })" alt="{{ tag.name }}" uib-tooltip="{{ tag.name }}" )
                        img( src="img/ic-{{ tag.slug }}.png" alt="{{ tag.name }}" )