.breadcrumb-container
    .container-fluid
        .row
            .col-md-12
                breadcrumb
.container-fluid
    .row
        .col-md-8.post
            .content
                h2 Términos de libre uso MX de los Datos Abiertos del Gobierno de México
                p Los presentes “Términos de libre uso” promueven el uso, reuso y redistribución de los conjuntos de datos abiertos, de conformidad con lo siguiente:
                p Usted puede:
                ul
                    li Hacer y distribuir copias del conjunto de datos y su contenido;
                    li Difundir y publicar el conjunto de datos y su contenido;
                    li Adaptar o reordenar el conjunto de datos y su contenido;
                    li Extraer total o parcialmente el contenido del conjunto de datos;
                    li Explotar comercialmente el conjunto de datos y su contenido, y;
                    li Crear conjuntos de datos derivados del conjunto de datos o su contenido.
                h2 Condiciones:
                ul
                    li Citar la fuente de origen de donde obtuvo el conjunto de datos:
                        ul
                            li Nombre del conjunto de datos”, [Siglas de la Dependencia o Entidad de la Administración Pública Federal]; Liga de internet de los datos descargados, y la fecha de la de consulta en formato numérico [AAAA-MM-DD], puestos a disposición de tal manera que sean fácilmente accesibles para los usuarios, y en la forma que mejor se adecue al funcionamiento del bien o servicio;
                    li No utilizar la información con objeto de engañar o confundir a la población variando el sentido original de la información y su veracidad.
                    li No aparentar que el uso que usted haga de los datos representa una postura oficial del Gobierno o que el mismo está avalado por la fuente de origen.
                p Ejemplo de cita: “Puntos México Conectado con acceso gratuito a internet” publicado por SCT. Consultado en 
                    a( href="https://datos.gob.mx/busca/dataset/puntos-mexico-conectado-con-acceso-gratuito-a-internet" ) https://datos.gob.mx/busca/dataset/puntos-mexico-conectado-con-acceso-gratuito-a-internet 
                    | el 2017-09-22.
                h2 Aviso sobre contenidos de terceros
                p Los términos de libre uso no lo autorizan para utilizar el contenido de terceros como pueden ser obras en cualquier formato que se encuentren dentro de los conjuntos de datos. En caso de que requiera utilizar dicho contenido, deberá buscar la autorización directamente del titular de los derechos correspondientes de conformidad con la Ley Federal de Derechos de Autor.
                p Compatible con 
                    a( rel="license" title="Creative Commons License" href="http://creativecommons.org/licenses/by/4.0/" )
                        img( alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" )
