.home.modal-body
    i.btn-close.glyphicon.glyphicon-remove( ng-click="close()" )
    p
        strong Bienvenido(a) a la nueva plataforma de Datos Abiertos del Gobierno de la República
    p Escuchamos tu opinión y nos adaptamos a tí. Ahora podrás encontrar nuevas funcionalidades en datos.gob.mx
    ul
        li
            img( src="img/ic-data-request.png" )
            | Petición ciudadana de Datos
        li
            img( src="img/ic-data-report.png" )
            | Reportar problemas con los datos
        li
            img( src="img/ic-data-preview.png" )
            | Vistas previas de datos tabulares
        li
            img( src="img/ic-data-metadata.png" )
            | Más y mejores metadatos
        li
            img( src="img/ic-data-interact.png" )
            | Interacción en redes sociales para solucionar dudas
    p Conóce los cambios en 
        a( href="#" ) esta guía