.home.modal-body
    i.btn-close.glyphicon.glyphicon-remove( ng-click="close()" )
    p
        strong Conoce el nuevo datos.gob.mx
    p En esta nueva versi칩n podr치s:
    ul
        li Buscar datos m치s f치cil
        li Reportar un recurso de datos
        li Solicitar un recurso de datos