.container-fluid
    .row
        .col-md-12
            h2
                a( ui-sref="front.section({ section : section, section_id : section_id })" ) {{ section }}
            .row.posts-row
                .col-md-4.post-item( ng-repeat="post in posts" )
                    include ../includes/post.jade