.container-fluid
    .row
        .col-md-12
            h2.section-title
                a( ui-sref="front.section({ section : section, section_id : section_id, tag : tag })" ) {{ section }}
            .row.posts-row
                .col-md-12.col-xs-12.col-sm-12.post-item( ng-repeat="post in featured" )
                    include ../includes/post.jade
            .row.posts-row( ng-if="section == 'blog'" )
                .col-md-6.col-xs-12.col-sm-12.post-item( ng-repeat-start="post in posts" )
                    include ../includes/post.jade
                .clearfix.hidden-xs.hidden-sm( ng-if="$index % 2 == 1" )
                div( ng-repeat-end="" )
            .row.posts-row(ng-if="section=='visualizaciones' && visualizer !== undefined && visualizer.status=='PUBLISHED'")
                .col-md-12.col-xs-12.col-sm-12.post-item
                    include ../includes/visualizer.jade
            .row.posts-row( ng-if="section == 'herramientas'" )
                .col-md-4.col-xs-12.col-sm-12.tool-item( ng-repeat-start="post in posts" )
                    include ../includes/tool.jade
                .clearfix.hidden-xs.hidden-sm( ng-if="( $index + 1 ) % 3 == 0" )
                div( ng-repeat-end="" )
            p.more-posts(ng-if="section!='visualizadores'"): a( ui-sref="front.section({ section : section, section_id : section_id })")
                span( ng-if="section == 'blog'" ) Ver más historias
                span( ng-if="section == 'herramientas'" ) Ver más herramientas
