.breadcrumb-container
    .container-fluid
        .row
            .col-md-12
                breadcrumb
.container-fluid
    .row
        .col-md-9
            section#objetivo.separator
                h1.big-title Bienvenidos a la guía de estilo para datos.gob.mx 
                h2.section-title Objetivo
                p Con el objetivo de estandarizar la estructura de los contenidos en las dependencias, se ha realizado el siguiente documento, que funciona como una guía compuesta por un conjunto de elementos específicos que se deben de cumplir al momento de realizar la maquetación de los trámites en línea.
                p La gráfica base sirve como referencia para organizar la información y la forma en la que esta estará disponible, para facilitar a nuestros usuarios que accedan de manera sencilla a todo el contenido que solicite.
            section#config.separator
                h2.section-title Configuración básica
                p
                    | En datos.gob.mx utilizamos nuestro navbar y footer como componentes, para ello, cada aplicacioón necesita 
                    a(href='https://github.com/webcomponents/webcomponentsjs', target='_blank') webcomponentsjs
                    |  y 
                    a(href='https://github.com/Polymer/polymer', target='_blank') polymer
                    |  para poder utilizar dichos componentes.
                p
                    | Puedes agregar 
                    strong webcomponents
                    |  y 
                    strong polymer
                    |  utilizando 
                    a(href='https://bower.io/', target='_blank')
                    strong bower
                    | .
                p
                    strong
                    | Es importante no descargar ningún archivo de estilos ni de javascript básicos como bootstrap y jquery
                    | , porque en nuestros archivos de estilos y de javascript ya vienen incluidas esas librerías, así es que se deben ocupar únicamente los alojados en nuestro CDN, ya que estos podrán cambiar de manera constante y sin previo aviso.
                ol.bottom-buffer.space
                    li
                        | Copie la ruta de la siguiente liga de nuestra hoja de estilos que se encontrará alojada en nuestro CDN: 
                        code.small https://cdn.datos.gob.mx/assets/css/main.css
                    li
                        | Antes de cerrarse la etiqueta 
                        code head
                        |  de cada html ingrese la ruta copiada de la hoja de estilo de la siguiente forma : 
                        br
                        br
                        .highlight
                            .pre
                                .code
                                    span.nt ...
                                    span.nt &lt;link
                                        span.na href=
                                            span.s "https://cdn.datos.gob.mx/assets/css/main.css"
                    li
                        | Copie la ruta de la siguiente liga de nuestro archivo de javascript que se encontrará alojada en nuestro CDN: 
                        code.small https://cdn.datos.gob.mx/assets/js/main.js
                    li
                        | Antes de cerrarse la etiqueta 
                        code body
                        |  de cada html ingrese la ruta del script copiada de la siguiente forma : 
                    /////
                section.separator
                h4 Ambiente de prueba
                p
                    | Para un mayor control y calidad se ha incluido un ambiente de QA en el que se va a liberar cada actualización de gráfica base y donde se podrán realizar cualquier tipo de pruebas correspondientes.
                p
                    | Para la hoja de estilos, la ruta en ambiente prueba será la siguiente: 
                    code.small https://cdn.datos.gob.mx/qa/bower_components/dgm-style/main.css
                p
                    | Para el archivo javascript, la ruta en ambiente prueba será el siguiente: 
                    code.small https://cdn.datos.gob.mx/qa/bower_components/dgm-style/main.js
                section.separator
                h4
                    | Esta guía ya incluye los siguientes frameworks y librerías y por lo tanto se recomienda 
                    strong no agregarlos
                    |  dentro de los htmls:
                ul
                    li
                        | Bootstrap versión 3.3.7. Para más información consultar la 
                        a(href='http://getbootstrap.com/', target='_blank') documentación
                    li
                        | Jquery versión 2.2.4. Para más información consultar la 
                        a(href='http://api.jquery.com/', target='_blank') documentación
                    li
                        | Open Sans (fuente tipográfica). Para más información consultar 
                        a(href='http://www.google.com/fonts/specimen/Open+Sans', target='_blank') documentación
        .col-md-3.right-side-menu
            ul.list-group
                li.list-group-item Guía de estilo para diseño
                li.list-group-item
                    a(href='#objetivo') Objetivo
                li.list-group-item
                    a(href='#config') Configuración básica
                li.list-group-item
                    a(href='#basic-example') Ejemplo básico
                li.list-group-item
                    a(href='#grid-system') Sitema de retícula
                li.list-group-item
                    a(href='#colors') Colores
                li.list-group-item
                    a(href='#sub-nav-bar') Barra de sub-navegación
                li.list-group-item
                    a(href='#forms') Formularios
                li.list-group-item
                    a(href='#buttons') Botones
                li.list-group-item
                    a(href='#pagination') Paginación
                li.list-group-item
                    a(href='#headers') Encabezados
                li.list-group-item
                    a(href='#header-separators') Encabezados de separación
                li.list-group-item
                    a(href='#texts') Textos
                li.list-group-item
                    a(href='#lists') Listas
                li.list-group-item
                    a(href='#tables') Tablas
                li.list-group-item
                    a(href='#alerts') Alertas
                li.list-group-item
                    a(href='#breadcrumbs') Breadcrumbs
                li.list-group-item
                    a(href='#tooltips') Tooltips
                li.list-group-item
                    a(href='#collapsibles') Colapsables
                li.list-group-item
                    a(href='#collapsible-groups') Colapsables de filtrado
                li.list-group-item
                    a(href='#tabs') Pestañas
                li.list-group-item
                    a(href='#modals') Modales
                li.list-group-item
                    a(href='#datepickers') Datepicker
                li.list-group-item
                    a(href='#filters') Filtrados
                li.list-group-item
                    a(href='#icons') Íconos
                li.list-group-item
                    a(href='#iframes') Iframes
                li.list-group-item
                    a(href='#help') Clases de ayuda